<template>
  <div>
    <div style="">
      <vs-row class="">
        <vs-col type="flex" vs-lg="3" vs-sm="6" vs-xs="12" v-for="(item, index) in items" :key="index" class="px-3">
          <template>
            <div>
              <chat-item class="my-5" :item="item"></chat-item>
            </div>
          </template>
        </vs-col>
      </vs-row>
    </div>
  </div>
</template>

<script>
import ChatItem from "../../../layouts/components/chat/ChatItem";
export default {
  components: {
    ChatItem
  },
  data() {
    return {
      tagItems: []
    };
  },
  computed: {},
  methods: {},
  created() {},
  mounted() {},
  props: {
    items: {
      type: Array,
      default: () => []
    },
    headerText: {
      type: String,
      default: "New Chats"
    },
    route: {
      type: String,
      default: "/"
    }
  }
};
</script>

<style lang="scss" scoped></style>
