<template>
  <div>
    <vs-card>
      <img class="w-16 block mx-auto mt-5" src="../../../../src/assets/images/misc/hatching-chick-emoji.png" />
      <h6 class="text-center mt-10">
        {{ emptyText }}
      </h6>
      <vs-button v-if="buttonText" @click="onButtonClick" class="block mx-auto my-5">{{ buttonText }}</vs-button>
    </vs-card>
  </div>
</template>

<script>
export default {
  props: {
    emptyText: {
      type: String,
      default: "Sorry"
    },
    buttonText: {
      type: String,
      default: ""
    },
    buttonNavigationPath: {
      type: String,
      default: ""
    }
  },
  methods: {
    onButtonClick() {
      this.$router.push(this.buttonNavigationPath);
    }
  }
};
</script>

<style lang="scss" scoped></style>
