<template>
  <div style="margin: auto">
    <!-- <home-listing class="m-3 pb-5" headerText="My Favorites"></home-listing> -->
    <home-listing class="pb-5" :items="recentChatItems" headerText="Recent"></home-listing>
    <home-listing class="pb-5" :items="randomChatItems" headerText="Random"></home-listing>
    <home-listing class="pb-5" :items="topTodayChatItems" headerText="Top Today"></home-listing>
  </div>
</template>
<script>
import HomeListing from "../../../layouts/components/home/Listing";
import api from "../../../axios";
import get from "get-value";

export default {
  data() {
    return {};
  },
  components: {
    HomeListing
  },
  props: {
    randomChatItems: {
      type: Array,
      default: () => []
    },
    topTodayChatItems: {
      type: Array,
      default: () => []
    },
    recentChatItems: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    }
  },
  created() {}
};
</script>

<style lang="scss" scoped></style>
