<template>
  <div>
    <div class="flex flex-wrap" style="background-image: linear-gradient(#fb8c00, #fb8c00, #fdd835); align-items:center; height: 60vh">
      <div class="sm:w-full md:w-7/12 lg:w-7/12z xl:w-7/12" style="padding: 0 5%">
        <div class="text-white mb-6" style="font-family: unset; font-size: 3rem; line-height: 3.5rem">
          Read and share your most <i>memorable</i> chats
        </div>
        <div>
          <vx-auto-suggest
            ref="navbarSearch"
            :autoFocus="showFullSearch"
            :data="searchChatItems"
            search_key="title"
            background-overlay
            class="w-full"
            inputClassses="w-full vs-input-no-border vs-input-no-shdow-focus"
            icon="SearchIcon"
            placeholder="Search for Chats"
            @input="updateSearchQuery"
            @selected="selected"
            @closeSearchbar="showFullSearch = false"
            style="color: black"
          >
            <template v-slot="{suggestion}">
              <div class="flex items-end leading-none py-1">
                <span class="mt-1">{{ suggestion.title }}</span>
              </div>
              <vs-row>
                <vs-row>
                  <div class="mr-4">
                    <i class="material-icons" style="vertical-align:middle; max-width: 20px; font-size: 15px">{{ "star_filled" }}</i>
                    <span class="text-sm ml-2" style="vertical-align:middle">{{
                      getValue(suggestion, "total_likes") ? getValue(suggestion, "total_likes") : "0"
                    }}</span>
                  </div>
                  <div>
                    <i class="material-icons" style="vertical-align:middle; font-size: 15px">visibility</i>
                    <span class="text-sm ml-2" style="vertical-align:middle">{{
                      getValue(suggestion, "total_views") ? getValue(suggestion, "total_views") : "0"
                    }}</span>
                  </div>
                </vs-row>
              </vs-row>
            </template>
            <template v-slot:noResult>
              <div class="flex items-center">
                <feather-icon icon="InfoIcon" svgClasses="h-5 w-5" class="mr-4" />
                <span>No results found.</span>
              </div>
            </template>
          </vx-auto-suggest>
        </div>
        <div> </div>
      </div>

      <div class=" sm:w-4/12 md:w-4/12 lg:w-4/12 xl:w-3/12  bg-gray-400 mx-auto" v-if="$vssWidth > 767">
        <swiper ref="mySwiper" :auto-update="true" :auto-destroy="true" :options="sliderOptions">
          <swiper-slide v-for="(item, index) in topThreeItems" :key="index">
            <chat-item :hasLikeButton="false" :hasViewsButton="false" :item="item"></chat-item>
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </div>
    </div>
    <div
      class="flex flex-wrap h-32 items-center md:px-24 xs:px-10 sm:px-10"
      style="background-color:#f5f5f5; justify-content:space-between; padding: 20px"
    >
      <div class=" text-6xl text-center">
        {{ getRandomEmoji() }}
      </div>
      <div class=" text-6xl text-center">
        {{ getRandomEmoji() }}
      </div>
      <div class=" text-6xl text-center">
        {{ getRandomEmoji() }}
      </div>
      <div v-if="$vssWidth > 810" class=" text-6xl text-center">
        {{ getRandomEmoji() }}
      </div>
      <div v-if="$vssWidth > 810" class=" text-6xl text-center">
        {{ getRandomEmoji() }}
      </div>
      <div v-if="$vssWidth > 410" class=" text-6xl text-center">
        {{ getRandomEmoji() }}
      </div>
    </div>
    <div class="flex flex-wrap lg:px-24" :style="'background-color: white;' + ($vssWidth > 410) ? '' : ''">
      <chat-listing
        :randomChatItems="randomChatItems"
        :topTodayChatItems="topTodayChatItems"
        :recentChatItems="recentChatItems"
      ></chat-listing>
    </div>
  </div>
</template>

<script>
import ChatItem from "../../../layouts/components/chat/ChatItem";
import VxAutoSuggest from "@/components/vx-auto-suggest/VxAutoCustomSuggest.vue";
import ChatListing from "./Home";
import api from "../../../axios";
import get from "get-value";
import VueScreenSize from "vue-screen-size";

export default {
  mixins: [VueScreenSize.VueScreenSizeMixin],
  data() {
    return {
      randomChatItems: [],
      topTodayChatItems: [],
      recentChatItems: [],
      topThreeItems: [],
      showFullSearch: false,
      searchChatItems: [],
      chatOptions: {
        maxPerPage: 5
      },
      isLoading: false,
      searchInput: "",
      sliderOptions: {
        spaceBetween: 50,
        loop: true,
        effect: "slide",
        loopedSlides: 1,
        speed: 1000,
        setWrapperSize: true,
        height: 100,
        autoplay: {
          delay: 2000
        },
        randomIntervalId: null

        // effect: fade
      },
      emojiList: [
        "😀",
        "😃",
        "😄",
        "😁",
        "😆",
        "😅",
        "😂",
        "🤣",
        "😊",
        "😇",
        "🙂",
        "🙃",
        "😉",
        "😌",
        "😍",
        "🥰",
        "😘",
        "😙",
        "😛",
        "😜",
        "🤪",
        "🧐",
        "🤓",
        "😎",
        "🤩",
        "🥳",
        "😏",
        "😣",
        "😖",
        "😫",
        "🥺",
        "😭",
        "😤",
        "🤬",
        "🤯",
        "🥵",
        "🥶",
        "😱",
        "😨",
        "😰",
        "🤗",
        "🥱",
        "🤥",
        "😬",
        "😯",
        "😧",
        "😴",
        "😪",
        "😵",
        "🤮",
        "😷",
        "🤑",
        "😈",
        "💩",
        "💀",
        "😸",
        "🤖"
      ],
      tagItems: []
    };
  },
  computed: {},
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    selected(item) {
      if (item._id) {
        this.$router.push({name: "chat.view", params: {chatId: item._id}}).catch(error => {
          console.log(error);
        });
      }
      this.showFullSearch = false;
    },
    getChats(query) {
      if (query) {
        this.isLoading = true;
        // this.chatOptions.skipCount = 0;
        // this.items = [];
        api
          .get("chat", {
            params: {
              max_per_page: this.chatOptions.maxPerPage,
              search: query
              // view_type: this.chatOptions.viewType,
              // skip: this.chatOptions.skipCount
            }
          })
          .then(response => {
            if (this.getValue(response.data, "data")) {
              this.searchChatItems = response.data.data;
            } else {
              // this.hasReachedEnd = true;
            }
          })
          .catch(error => {})
          .then(() => {
            this.isLoading = false;
          });
      }
    },
    updateSearchQuery(query) {
      this.searchQuery = query;
      this.getChats(query);
    },
    getChatTags() {
      api
        .get("tag")
        .then(response => {
          if (response.data) {
            this.tagItems = response.data.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    getRandomChats() {
      api
        .get("chat", {
          params: {
            max_per_page: 4,
            view_type: "random"
          }
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            this.randomChatItems = response.data.data;
          }
        })
        .catch(error => {})
        .then(() => {});
    },
    getTopTodayChats() {
      api
        .get("chat", {
          params: {
            max_per_page: 4,
            view_type: "random"
          }
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            this.topTodayChatItems = response.data.data;
            this.topThreeItems = [...this.topTodayChatItems];
            this.topThreeItems.length = 3;
          }
        })
        .catch(error => {})
        .then(() => {});
    },
    getRecentChats() {
      api
        .get("chat", {
          params: {
            max_per_page: 4,
            view_type: "recent"
          }
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            this.recentChatItems = response.data.data;
          }
        })
        .catch(error => {})
        .then(() => {});
    },
    randomInteger(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    getRandomEmoji() {
      let randomInt = this.randomInteger(0, this.emojiList.length - 1);
      return this.emojiList[randomInt];
    },
    getMaxChat() {}
  },
  components: {
    ChatItem,
    ChatListing,
    VxAutoSuggest
  },
  beforeMount() {
    this.getChatTags();
    this.getTopTodayChats();
    this.getRandomChats();
    this.getRecentChats();
  }
};
</script>

<style lang="scss" scoped>
.vs-input--placeholder {
  font-size: 1.3rem;
}
</style>
