<template>
  <div id="parentx-demo-2">
    <vs-sidebar
      parent="#chat-app"
      :position-right="true"
      :hidden-background="false"
      v-model="isProfileSidebarOpenLocal"
      id="chat-profile-sidebar"
      class="items-no-padding"
    >
      <div class="header-sidebar relative flex flex-col p-0" slot="header">
        <feather-icon icon="XIcon" svgClasses="m-2 cursor-pointer absolute top-0 right-0" @click="closeSidebar()"></feather-icon>

        <div class="relative inline-flex mx-auto mb-5 mt-6">
          <vs-avatar class="m-0 border-white border-2 border-solid shadow-md" :src="chatUser.photoURL" size="70px" />
          <div class="h-5 w-5 border-white border-2 border-solid rounded-full absolute right-0 bottom-0" :class="'bg-' + statusColor"></div>
        </div>

        <h4 class="mr-2 self-center">{{ getValue(fakeUsers[0], "name") }}</h4>
      </div>

      <component :is="scrollbarTag" class="scroll-area" :settings="settings" :key="$vs.rtl">
        <div class="p-8" v-if="fakeUsers.length == 1">
          <h6 class="border-solid rounded border-0">
            {{ getValue(fakeUsers[0], "description") }}
          </h6>
        </div>
        <vs-list v-else>
          <vs-list-header title="Group"></vs-list-header>
          <div v-for="(fakeUser, index) in fakeUsers" :key="index">
            <vs-list-item :title="fakeUser.name" :subtitle="fakeUser.description">
              <template slot="avatar"> <vs-avatar :src="fakeUser.image_url" class="mx-3"/></template
            ></vs-list-item>
          </div>
        </vs-list>
      </component>
    </vs-sidebar>
  </div>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import get from "get-value";

export default {
  props: {
    isProfileSidebarOpen: {
      type: Boolean,
      required: false
    },
    fakeUsers: {
      type: Array,
      default: () => [{}]
    }
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    closeSidebar() {
      this.$emit("closeProfileSidebar");
    }
  },
  data() {
    return {
      counterDanger: false,
      settings: {
        // perfectscrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      }
    };
  },
  computed: {
    chatUser() {
      return {};
    },
    isProfileSidebarOpenLocal() {
      return this.isProfileSidebarOpen;
    },
    about: {
      get() {
        return this.chatUser.about;
      },
      set(value) {
        // this.$store.dispatch("updateUserInfo", { about: value });
      }
    },
    status: {
      get() {
        return this.chatUser.status;
      },
      set(value) {
        // this.$store.dispatch("updateUserInfo", { status: value });
      }
    },
    statusColor() {
      const userStatus = this.chatUser.status;

      if (userStatus === "online") {
        return "success";
      } else if (userStatus === "do not disturb") {
        return "danger";
      } else if (userStatus === "away") {
        return "warning";
      } else {
        return "grey";
      }
    },
    scrollbarTag() {
      return this.$store.getters.scrollbarTag;
    }
  },
  components: {
    VuePerfectScrollbar
  }
};
</script>
