<template>
  <div id="chat-app" class="border border-solid d-theme-border-grey-light rounded relative overflow-hidden">
    <!-- RIGHT COLUMN -->
    <div
      class=" no-scroll-content-chat chat-content-area border border-solid d-theme-border-grey-light border-t-0 border-r-0 border-b-0"
      :class="[
        {
          'flex items-center justify-center': activeChatUser === null
        },
        {chat__bg_0: chat.chat_layout_type == 0},
        {chat__bg_1: chat.chat_layout_type == 1},
        {chat__bg_3: chat.chat_layout_type == 2}
      ]"
    >
      <template v-if="activeChatUser">
        <div class="chat__navbar">
          <vs-navbar
            class="p-4 flex navbar-custom"
            :class="[
              {chat_navbar_0: chat.chat_layout_type == 0},
              {chat_navbar_1: chat.chat_layout_type == 1},
              {chat_navbar_3: chat.chat_layout_type == 2}
            ]"
            color="white"
            type="flat"
          >
            <div class="relative flex mr-4">
              <vs-avatar
                v-if="chat.chat_type !== 2"
                class="m-0 border-2 border-solid border-white"
                size="40px"
                :src="getValue(chat.chat_image, 'url')"
                @click="isProfileSidebarOpen = true"
              />
            </div>
            <h6 :class="[{'text-white': chat.chat_layout_type !== 1}]">{{ chat.title }}</h6>

            <vs-spacer></vs-spacer>
          </vs-navbar>
        </div>
        <component
          :is="scrollbarTag"
          id="chat-view"
          class="chat-content-scroll-area border d-theme-border-grey-light"
          :settings="settings"
          ref="chatLogPS"
          @ps-scroll-y="scrollHandle"
        >
          <div class=" m-10 p-10 bg-white text-center rounded-lg" v-if="chat.chat_type !== 1">
            <b>{{ chat.description }}</b>
          </div>
          <div class="chat__log" ref="chatLog">
            <chat-log :chat="chat"></chat-log>
          </div>
        </component>
      </template>
    </div>
  </div>
</template>

<script>
import ChatContact from "./ChatContact.vue";
import ChatLog from "./ChatLog.vue";
import ChatNavbar from "./ChatNavbar.vue";
import UserProfile from "./UserProfile.vue";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import ChatItem from "./ChatItem";
// import faker from "faker";
import api from "../../../../axios";
import get from "get-value";

// import moduleChat from "@/store/chat/moduleChat.js";

export default {
  data() {
    return {
      recordId: this.$route.params.chatId,
      hasSound: true,
      chat: {
        messages: [],
        fake_users: []
      },
      puppeteerSecret: this.$route.query.access,
      chatHeight: 0,
      visibleMessageIndex: 0,
      isProfileSidebarOpen: false,
      messagePlayStart: 0,
      isFavoriteChat: false,
      isPlaying: true,
      isVisible: false,
      active: true,
      isHidden: false,
      searchContact: "",
      activeProfileSidebar: true,
      activeChatUser: {},
      userProfileId: -1,
      typedMessage: "",
      isChatPinned: false,
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.7
      },
      clickNotClose: true,
      isChatSidebarActive: false,
      isLoggedInUserProfileView: false,
      relatedChats: []
    };
  },
  props: {
    itemSelected: {
      type: Object,
      default: () => {}
    }
  },
  watch: {
    windowWidth() {
      this.setSidebarWidth();
    },
    isPlaying(newValue) {
      if (newValue == false) {
        clearInterval(this.interval);
      } else {
        this.interval = setInterval(() => {
          console.log("visible message " + this.visibleMessageIndex);
          console.log("scroll height" + this.chatHeight);
          if (this.visibleMessageIndex <= this.chatHeight) {
            this.visibleMessageIndex += 10;
            let container = document.querySelector("#chat-view");
            container.scrollTo({
              top: this.visibleMessageIndex,
              behavior: "smooth"
            });
          }
          // else {
          //   clearInterval(this.interval);
          // }
        }, 100);
      }
    },
    visibleMessageIndex(newValue, oldValue) {
      this.chat.messages.forEach((item, index) => {
        if (index <= newValue) {
          this.chat.messages[index].is_visible = true;
        } else {
          this.chat.messages[index].is_visible = false;
        }
      });
    }
  },
  computed: {
    getStatusColor() {
      return "success";
    },

    scrollbarTag() {
      return this.$store.getters.scrollbarTag;
    },

    windowWidth() {
      return this.$store.state.windowWidth;
    }
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    toggleVisibilityButton() {
      this.isVisible = !this.isVisible;

      this.chat.messages.forEach(item => {
        item.is_visible = this.isVisible;
      });
      // return this.isVisible ? "EyeOffIcon" : "EyeIcon";
    },
    toggleSoundButton() {
      return this.hasSound ? "Volume2Icon" : "VolumeXIcon";
    },
    getChatRecord() {
      if (this.recordId) {
        api
          .get("chat/puppeteer/" + this.recordId, {
            params: {
              puppeteer_access: this.puppeteerSecret
            }
          })
          .then(response => {
            if (response.data) {
              this.chat = response.data.data;
              this.chat.messages.map(item => {
                let newItem = item;
                newItem.isVisible = true;
              });
              // this.getChatFullHeight();
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    togglePlayButton() {
      return this.isPlaying ? "PauseIcon" : "PlayIcon";
    },

    closeProfileSidebar() {
      console.log("close profile sidebar");
      this.isProfileSidebarOpen = !this.isProfileSidebarOpen;
    },
    scrollHandle(evt) {
      // console.log(evt);
    },

    showProfileSidebar(openOnLeft = false) {
      this.isLoggedInUserProfileView = openOnLeft;
      this.activeProfileSidebar = !this.activeProfileSidebar;
    },
    sendMsg() {
      if (!this.typedMessage) return;
      const payload = {
        isPinned: this.isChatPinned,
        msg: {
          textContent: this.typedMessage,
          time: String(new Date()),
          is_sent: true,
          isSeen: false
        },
        id: this.activeChatUser
      };
      this.$store.dispatch("chat/sendChatMessage", payload);
      this.typedMessage = "";

      const scroll_el = this.$refs.chatLogPS.$el || this.$refs.chatLogPS;
      scroll_el.scrollTop = this.$refs.chatLog.scrollHeight;
    },
    toggleIsChatPinned(value) {
      this.isChatPinned = value;
    },
    setSidebarWidth() {
      if (this.windowWidth < 1200) {
        this.isChatSidebarActive = this.clickNotClose = false;
      } else {
        this.isChatSidebarActive = this.clickNotClose = true;
      }
    },
    toggleChatSidebar(value = false) {
      if (!value && this.clickNotClose) return;
      this.isChatSidebarActive = value;
    }
    // getChatFullHeight() {
    //   let container = document.querySelector("#chat-view");
    //   this.chatHeight = container.scrollHeight;
    // }
  },
  components: {
    VuePerfectScrollbar,
    ChatContact,
    UserProfile,
    ChatNavbar,
    ChatLog,
    ChatItem
  },

  created() {
    this.setSidebarWidth();

    if (this.recordId) {
      this.getChatRecord();
    }

    // for (let i = 0; i < 150; i++) {
    //   this.chat.messages.push({
    //     message: faker.lorem.sentence(),
    //     is_sent: faker.random.boolean(),
    //     fake_user: {
    //       name: faker.internet.userName()
    //     },
    //     is_visible: false
    //   });
    // }

    // this.interval = setInterval(() => {

    //   this.visibleMessageIndex++;
    // }, 1500);
  },
  beforeDestroy() {},
  mounted() {}
};
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/apps/chat.scss";
</style>
