<template>
  <vs-card actionable class="cardx">
    <!-- <div slot="header" @click="onChatItemClick(item._id)">
      <h6>
        {{ item.title }}
      </h6>
    </div> -->
    <div style="overflow: hidden;" @click="onChatItemClick(item._id)">
      <img
        style="border-radius: 10px"
        class="w-full"
        :src="image"
        @mouseover="image = `${process.env.UPLOAD_PATH}chat-gif/5f9a7b89e8eb1b70649f794a.gif`"
        @mouseleave="image = `${process.env.UPLOAD_PATH}chat-gif/5f9a7b89e8eb1b70649f794a.png`"
      />
    </div>
    <div
      v-if="hasButtons"
      class=""
      style="border-top: 1px solid; border-top-left-radius: 10px;
    border-top-right-radius: 10px; border-color:#b0bec5"
    ></div>
    <div v-if="hasButtons">
      <vs-row>
        <vs-col vs-lg="1" class="mt-2 mx-2" vs-type="flex" v-if="$store.state.AppActiveUser.token_id">
          <i @click="onLikeClick" class="material-icons text-s" style="width:20px">{{ item.is_liked ? "star_filled" : "star_outline" }}</i>
          <span class="mx-2 mt-1">{{ item.total_likes }}</span>
        </vs-col>
        <vs-col vs-lg="3" class="mt-2" vs-type="flex">
          <i class="material-icons text-s">visibility</i>
          <span class="mx-2 mt-1">{{ item.total_views }}</span>
        </vs-col>
      </vs-row>
    </div>
  </vs-card>
</template>

<script>
import api from "../../../../axios";
import get from "get-value";

export default {
  data() {
    return {
      image: "http://localhost:3000/chat-gif/5f9a7b89e8eb1b70649f794a.png"
    };
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    hasButtons: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    onChatItemClick(itemId) {
      console.log("chat item", itemId);
      if (itemId) {
        this.$router.push({name: "chat.view", params: {chatId: itemId}});
      }
    },
    onLikeClick() {
      if (this.$store.state.AppActiveUser.token_id) {
        this.item.is_liked = !this.item.is_liked;
        if (this.item.is_liked) {
          this.item.total_likes += 1;
        } else {
          this.item.total_likes -= 1;
        }
        this.updateChatLike(this.item.is_liked);
      }
    },
    updateChatLike(isLiked) {
      api
        .put("chat-like/" + this.item._id, {
          is_liked: isLiked
        })
        .then(response => {})
        .catch(error => {
          this.item.is_liked = !this.item.is_liked;
        })
        .then(() => {});
    }
  }
};
</script>

<style lang="scss" scoped>
.cardx .vs-card--content {
  padding: 0px !important;
}
</style>
