<template>
  <div v-infinite-scroll="onLoadMore" infinite-scroll-throttle-delay="1000" infinite-scroll-distance="10">
    <div class="lg:px-32">
      <vs-breadcrumb separator="~">
        <li v-for="(item, index) in breadcrumbItems"
          ><a href="#" :title="item.title">{{ item.title }}</a
          ><span class="vs-breadcrum--separator">{{ breadcrumbItems.length - 1 !== index ? "~" : "" }}</span></li
        >
      </vs-breadcrumb>
      <vs-row class="mb-2 mt-12">
        <vs-col vs-lg="8" vs-md="12" vs-xs="12" class="text-center md:text-left">
          <div style="">
            <div class="vertical text-4xl">{{ params.emojiIcon + " " + params.title }}</div>
          </div>
        </vs-col>

        <!-- Main Filter -->
        <vs-col vs-lg="4" vs-md="12" vs-xs="12" class="text-center md:text-right">
          <div>
            <vs-dropdown class="mx-2">
              <vs-button class="btn-drop" type="filled" icon="expand_more" :icon-after="true">{{ mainFilter.text }}</vs-button>
              <vs-dropdown-menu>
                <vs-dropdown-item
                  @click="
                    isTopFilterEnabled = true;
                    mainFilter = {value: 'top', text: 'Top'};
                    topFilter = {value: 'daily', text: 'Daily'};
                    chatOptions.viewType = topFilter.value;
                    getChats();
                  "
                >
                  Top
                </vs-dropdown-item>
                <vs-dropdown-item
                  @click="
                    isTopFilterEnabled = false;
                    mainFilter = {value: 'recent', text: 'Newest'};
                    chatOptions.viewType = mainFilter.value;
                    getChats();
                  "
                >
                  Newest
                </vs-dropdown-item>
              </vs-dropdown-menu>
            </vs-dropdown>
            <!-- View Filter -->
            <vs-dropdown v-if="isTopFilterEnabled">
              <vs-button class="btn-drop" type="filled" icon="expand_more" :icon-after="true">{{ topFilter.text }}</vs-button>
              <vs-dropdown-menu>
                <vs-dropdown-item
                  @click="
                    topFilter = {value: 'daily', text: 'Daily'};
                    chatOptions.viewType = topFilter.value;
                    getChats();
                  "
                >
                  Daily
                </vs-dropdown-item>
                <vs-dropdown-item
                  @click="
                    topFilter = {value: 'weekly', text: 'Weekly'};
                    chatOptions.viewType = topFilter.value;
                    getChats();
                  "
                >
                  Week
                </vs-dropdown-item>
                <vs-dropdown-item
                  @click="
                    topFilter = {value: 'monthly', text: 'Monthly'};
                    chatOptions.viewType = topFilter.value;
                    getChats();
                  "
                >
                  Month
                </vs-dropdown-item>
                <vs-dropdown-item
                  @click="
                    topFilter = {value: 'yearly', text: 'Yearly'};
                    chatOptions.viewType = topFilter.value;
                    getChats();
                  "
                >
                  Year
                </vs-dropdown-item>
              </vs-dropdown-menu>
            </vs-dropdown>
          </div>
        </vs-col>

        <!-- <a style="margin-right:1.25rem">See All</a> -->
      </vs-row>
      <category-listing v-if="items && items.length > 0" :items="items"> </category-listing>
      <empty-placeholder
        v-else-if="checkRoutePath('profile/chats')"
        emptyText="Sorry you dont have any created chats"
        buttonText="Create a chat"
        buttonNavigationPath="/chat/create-selection"
      ></empty-placeholder>
      <empty-placeholder
        v-else-if="checkRoutePath('profile/favorites')"
        emptyText="Sorry you dont have any favorite chats"
      ></empty-placeholder>
      <empty-placeholder v-else emptyText="Sorry there are no chats available"></empty-placeholder>

      <div v-if="isLoading">
        <vs-row class="justify-between">
          <vs-col type="flex" vs-lg="3" class="p-2 px-5" v-for="(item, index) in loadingItems" :key="index">
            <vs-card actionable class="cardx">
              <PuSkeleton style="width:50px; height: 190px" class="cardx"> </PuSkeleton>
              <div class="mt-2">
                <PuSkeleton style="width:50px; height: 25px;" class="cardx"> </PuSkeleton>
              </div>
            </vs-card>
          </vs-col>
        </vs-row>
      </div>
    </div>
  </div>
</template>

<script>
import CategoryListing from "../../../layouts/components/category/Listing";
import EmptyPlaceholder from "../../../layouts/components/other/EmptyPlaceholder";
// import faker from "faker";
import api from "../../../axios";
import get from "get-value";

export default {
  data() {
    return {
      routePath: this.$route.path,
      mainFilter: {value: "top", text: "Top"},
      topFilter: {value: "daily", text: "Daily"},
      isTopFilterEnabled: true,
      hasFiltering: this.$route.meta.hasFiltering !== null ? this.$route.meta.hasFiltering : true,
      chatOptions: {
        viewType: this.$route.meta.viewType ? this.$route.meta.viewType : "daily",
        mainTag: "",
        maxPerPage: 12,
        skipCount: 0
      },
      hasReachedEnd: false,
      isLoading: false,
      params: this.$route.meta,
      loadingItems: [{}, {}, {}, {}, {}, {}, {}, {}],
      tagItems: [],
      breadcrumbItems: [
        {
          title: "Home",
          url: "/",
          disabled: false,
          active: false
        },
        {
          title: this.$route.meta.emojiIcon + " " + this.$route.meta.title,
          url: "top",
          disabled: false,
          active: true
        }
      ],
      items: []
    };
  },
  props: {
    emojiIcon: {
      type: String,
      default: ""
    },
    title: {
      type: String,
      default: ""
    }
  },
  components: {
    CategoryListing,
    EmptyPlaceholder
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    checkRoutePath(route) {
      if (this.routePath && this.routePath.includes(route)) {
        return true;
      } else {
        return false;
      }
    },
    onLoadMore() {
      if (!this.isLoading && !this.hasReachedEnd) {
        this.hasReachedEnd = false;
        this.isLoading = true;
        api
          .get("chat", {
            params: {
              max_per_page: this.chatOptions.maxPerPage,
              view_type: this.chatOptions.viewType,
              skip: this.chatOptions.skipCount
            }
          })
          .then(response => {
            if (this.getValue(response.data, "data") && response.data.data.length > 0) {
              this.items = [...this.items, ...response.data.data];
              this.chatOptions.skipCount += this.chatOptions.maxPerPage;
            } else {
              this.hasReachedEnd = true;
            }
          })
          .catch(error => {})
          .then(() => {
            this.isLoading = false;
          });
      }
    },
    getChatTags() {
      api
        .get("tag")
        .then(response => {
          if (response.data) {
            this.tagItems = response.data.data;
          }
        })
        .catch(error => {});
    },
    getChats() {
      this.isLoading = true;
      this.chatOptions.skipCount = 0;
      this.items = [];
      api
        .get("chat", {
          params: {
            max_per_page: this.chatOptions.maxPerPage,
            view_type: this.chatOptions.viewType,
            skip: this.chatOptions.skipCount
          }
        })
        .then(response => {
          if (this.getValue(response.data, "data") && response.data.data.length > 0) {
            this.items = response.data.data;
            this.chatOptions.skipCount += this.chatOptions.maxPerPage;
          } else {
            this.hasReachedEnd = true;
          }
        })
        .catch(error => {})
        .then(() => {
          this.isLoading = false;
        });
    },
    onChipClick(index) {
      this.$set(this.tagItems[index], "is_selected", !this.tagItems[index].is_selected);
    },
    loadMore() {}
  },
  created() {
    this.getChatTags();
    this.getChats();
  },
  beforeMount() {
    // this.params = this.$route.params;
    // this.breadcrumbItems.push();
  }
};
</script>

<style lang="scss" scoped></style>
