<template>
  <div id="chat-app" class="border border-solid d-theme-border-grey-light rounded relative overflow-hidden" style="height: 100%;">
    <div id="parentx-demo-2">
      <vs-sidebar
        parent="#chat-app"
        :position-right="true"
        :hidden-background="false"
        v-model="isProfileSidebarOpen"
        id="chat-profile-sidebar"
        class="items-no-padding"
      >
        <div class="header-sidebar relative flex flex-col p-0 m-4">
          <feather-icon
            icon="XIcon"
            svgClasses="m-2 cursor-pointer absolute top-0 right-0"
            @click="isProfileSidebarOpen = false"
          ></feather-icon>
        </div>
        <div class="header-sidebar relative flex flex-col m-5">
          <!-- <vs-input
            class="w-full"
            placeholder="Chat Title"
            label="Title"
            :danger="getErrorMessage(chatErrorMessages, 'title') ? true : false"
            :danger-text="getErrorMessage(chatErrorMessages, 'title')"
            v-model="chat.title"
          /> -->
          <vs-textarea class="mt-3 h-64" counter="280" label="Description" v-model="chat.title" />
          <div class="flex">
            <div>Chat Privacy</div>
            <vs-switch color="success" style="width: 75px" v-model="chat.is_private">
              <span slot="on">Private</span>
              <span slot="off">Public</span>
            </vs-switch>
          </div>
          <div class="my-4">
            <div>
              Tags
            </div>
            <vs-select placeholder="Add up to 5 tags" class="w-full" multiple autocomplete v-model="chat.tags">
              <vs-select-item v-for="(tag, index) in tagItems" :key="index" :value="tag._id" :text="tag.name" />
            </vs-select>
          </div>
        </div>
      </vs-sidebar>
      <vs-sidebar
        id="left-sidebar"
        parent="#chat-app"
        v-model="isLeftSidebarOpen"
        :hidden-background="true"
        :click-not-close="true"
        class="items-no-padding"
      >
        <div style="margin-top: 90px; margin-bottom: 90px">
          <div class="mx-16 m-12">
            <i>Images here can be dragged into position</i>
          </div>
          <div v-if="chat.messages.length == 0">
            <img src="../../../assets/images/misc/chat_4.gif" style="height: 100px; margin: auto; display: block" />
          </div>
          <draggable
            :list="chat.messages"
            handle=".handle"
            animation="500"
            easing="cubic-bezier(1, 0, 0, 1)"
            :force-fallback="true"
            ghost-class="ghost"
            :scroll-sensitivity="50"
          >
            <div v-for="(uploadedImageItem, index) in chat.messages" class="m-12 mx-16">
              <vs-card class="cardx" style="border-radius: 10px">
                <div slot="header">
                  <h2 style="">
                    {{ index + 1 }}
                  </h2>
                </div>
                <div slot="media">
                  <img :src="getValue(uploadedImageItem.image, 'url')" />
                </div>
                <div slot="footer">
                  <vs-row vs-justify="flex-end">
                    <vs-button color="primary" type="gradient" icon="drag_handle" class=" handle"></vs-button>

                    <vs-button color="danger" type="gradient" icon="delete" class="mx-2" @click="onDeleteChatItemClick(index)"></vs-button>
                  </vs-row>
                </div>
              </vs-card>
            </div>
          </draggable>
        </div>
      </vs-sidebar>
    </div>

    <!-- RIGHT COLUMN -->
    <div
      class="chat__nbg no-scroll-content-chat-2 chat-content-area border border-solid d-theme-border-grey-light border-t-0 border-r-0 border-b-0"
      :class="{}"
      id="left-sidebar-parent"
    >
      <template>
        <div class="chat__navbar">
          <vs-navbar class="p-4 flex navbar-custom" color="white" type="flat">
            <div class="relative flex mr-4">
              <feather-icon icon="SettingsIcon" class="mr-4 cursor-pointer" @click="isProfileSidebarOpen = true" />
            </div>
            <vs-spacer></vs-spacer>
            <vs-tooltip v-if="!isSaveLoading" text="Save Chat" position="bottom">
              <feather-icon @click="onSaveClick" icon="SaveIcon" class="cursor-pointer mx-2" :svgClasses="['w-8', 'h-8']"></feather-icon>
            </vs-tooltip>
            <vue-loading v-else type="bars" color="white" :size="{width: '40px', height: '40px'}"></vue-loading>
          </vs-navbar>
        </div>
        <component
          :is="scrollbarTag"
          class="chat-content-scroll-area border border-solid d-theme-border-grey-light border-b-0"
          :settings="settings"
          ref="chatLogPS"
        >
          <div style="position: relative; height: 100%; margin-left: 400px">
            <div class="m-10">
              <vs-textarea class="h-32" counter="280" style="background-color: white" v-model="chat.title" />
            </div>

            <file-upload
              ref="upload"
              input-id="file-input"
              class="w-full"
              accept="image/*"
              :drop="true"
              @input-file="inputFile"
              @input-filter="inputFilter"
            >
              <div v-if="chat.messages.length == 0" class="mt-32 text-4xl">
                <div>
                  Drag your screenshots here
                </div>
              </div>
              <div v-else v-for="(uploadedImageItem, index) in chat.messages" class="m-2 mx-24">
                <vs-card class="cardx w-10/12 m-auto" style="border-radius: 10px">
                  <div slot="media">
                    <img :src="getValue(uploadedImageItem.image, 'url')" />
                  </div>
                  <div slot="footer">
                    <vs-row vs-justify="flex-end">
                      <vs-button color="primary" type="gradient" icon="edit" class="mx-2"></vs-button>
                    </vs-row>
                  </div>
                </vs-card>
              </div>
            </file-upload>
            <file-upload
              class="btn btn-primary w-full"
              post-action="/upload/post"
              :drop="true"
              accept="image/*"
              @input-file="inputFile"
              @input-filter="inputFilter"
              ref="upload"
            >
              <div class="vs-component vs-button w-10/12 m-auto vs-button-primary vs-button-gradient includeIcon large">
                Upload Image
              </div>
            </file-upload>
          </div>
        </component>
      </template>
    </div>
  </div>
</template>

<script>
import ChatContact from "./ChatContact.vue";
import ChatLog from "./ChatLog.vue";
import ChatNavbar from "./ChatNavbar.vue";
import UserProfile from "./UserProfile.vue";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import ChatItem from "./ChatItem";
// import faker from "faker";
import get from "get-value";
import draggable from "vuedraggable";
import {TwemojiPicker} from "@kevinfaguiar/vue-twemoji-picker";
import EmojiAllData from "@kevinfaguiar/vue-twemoji-picker/emoji-data/en/emoji-all-groups.json";
import EmojiDataAnimalsNature from "@kevinfaguiar/vue-twemoji-picker/emoji-data/en/emoji-group-animals-nature.json";
import EmojiDataFoodDrink from "@kevinfaguiar/vue-twemoji-picker/emoji-data/en/emoji-group-food-drink.json";
import EmojiGroups from "@kevinfaguiar/vue-twemoji-picker/emoji-data/emoji-groups.json";
import {TwemojiTextarea} from "@kevinfaguiar/vue-twemoji-picker";
import {Picker} from "emoji-mart-vue";
import api from "../../../axios";
import {VueLoading} from "vue-loading-template";

export default {
  data() {
    return {
      chatId: this.$route.params.chatId,
      hasSound: true,
      chat: {
        title: "",
        description: "",
        messages: [],
        tags: [],
        chat_type: 2,
        chat_layout_type: 0,
        is_private: false
      },
      chatErrorMessages: [],
      chatTagItems: [],
      messageIndex: null,
      chatMessage: "",
      messagePopupActive: false,
      newMessage: "",
      visibleMessageIndex: 0,
      isLeftSidebarOpen: true,
      isProfileSidebarOpen: false,
      messagePlayStart: 0,
      isFavoriteChat: false,
      isPlaying: true,
      isVisible: false,
      active: true,
      isHidden: false,
      searchContact: "",
      activeProfileSidebar: true,
      activeChatUser: {},
      userProfileId: -1,
      typedMessage: "",
      isChatPinned: false,
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.7
      },
      tagItems: [],
      clickNotClose: true,
      isChatSidebarActive: false,
      isLoggedInUserProfileView: false,
      relatedChats: [],
      isSaveLoading: false
    };
  },
  props: {
    itemSelected: {
      type: Object,
      default: () => {}
    }
  },
  watch: {
    // uploadImageItems(newValue) {
    //   if (newValue && newValue.length > 0) {
    //     this.isLeftSidebarOpen = true;
    //   } else {
    //     this.isLeftSidebarOpen = false;
    //   }
    // },
    windowWidth() {
      this.setSidebarWidth();
    }
    // isPlaying(newValue) {
    //   if (newValue == false) {
    //     clearInterval(this.interval);
    //   } else {
    //     this.interval = setInterval(() => {
    //       this.visibleMessageIndex++;
    //     }, 1500);
    //   }
    // },
    // visibleMessageIndex(newValue, oldValue) {
    //   this.chat.messages.forEach((item, index) => {
    //     if (index <= newValue) {
    //       this.chat.messages[index].is_visible = true;
    //     } else {
    //       this.chat.messages[index].is_visible = false;
    //     }
    //   });
    // }
  },

  computed: {
    statusColor() {
      // const userStatus = this.status;

      // if (userStatus === "online") {
      //   return "success";
      // } else if (userStatus === "do not disturb") {
      //   return "danger";
      // } else if (userStatus === "away") {
      //   return "warning";
      // } else {
      //   return "grey";
      // }

      return "success";
    },
    getStatusColor() {
      return "success";
    },

    scrollbarTag() {
      return this.$store.getters.scrollbarTag;
    },

    windowWidth() {
      return this.$store.state.windowWidth;
    },
    emojiDataAll() {
      return EmojiAllData;
    },
    emojiGroups() {
      return EmojiGroups;
    }
  },
  methods: {
    getChatTags() {
      api
        .get("tag")
        .then(response => {
          if (response.data) {
            this.tagItems = response.data.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    onUploadImageClick() {
      this.$refs.file.click();
    },
    getErrorMessage(errorMessages, param) {
      let errorMessage = null;
      if (errorMessages && errorMessages.length > 0) {
        errorMessage = errorMessages.find(item => {
          if (item.param == param) {
            return item;
          }
        });
      }

      console.log("error message", errorMessage);

      if (errorMessage) {
        return errorMessages.msg;
      } else {
        return "";
      }
    },
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
        // Create a blob field
        // 创建 blob 字段
        newFile.blob = "";
        let URL = window.URL || window.webkitURL;
        if (URL && URL.createObjectURL) {
          newFile.blob = URL.createObjectURL(newFile.file);
        }
      }
    },
    getValue(resource, key) {
      return get(resource, key);
    },
    inputFile(newFile, oldFile) {
      console.log("input file", newFile);
      if (newFile && !oldFile) {
        let formData = new FormData();
        formData.append("file", newFile.file);
        formData.append("type", "chat");

        // Add file
        api
          .post("upload/", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(response => {
            if (response.data) {
              let file = response.data.data;
              this.chat.messages.push({image: file, message_type: 3});
            }
            console.log(response);
          })
          .catch(error => {});

        // Upload image
        // If upload image is successful then add image
        // this.uploadImageItems.push(newFile);
      }
    },
    getChat() {
      if (this.chatId) {
        api
          .get("chat/" + this.chatId)
          .then(response => {
            if (response.data) {
              this.chat = response.data.data;
              if (this.chat.chat_type == 1) {
                this.$router.replace({path: `/chat/create/1/${this.chat._id}`, params: {itemSelected: response.data.data}});
              }
              if (this.chat.tags && this.chat.tags.length > 0) {
                this.chat.tags = this.chat.tags.map(tag => {
                  return tag._id;
                });
              }
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    onSaveClick() {
      this.isSaveLoading = true;
      if (!this.chat._id) {
        api
          .post("chat/", this.chat)
          .then(response => {
            if (response.data) {
              this.chat = response.data.data;
              this.$router.replace({name: `chat.create.type2.update`, params: {chatId: this.chat._id}});
              console.log(chat);
            }
          })
          .catch(error => {
            this.chatErrorMessages = this.getValue(error.response, "data.data");
          })
          .finally(() => {
            this.isSaveLoading = false;
          });
      } else {
        api
          .put("chat/" + this.chat._id, this.chat)
          .then(response => {
            if (response.data) {
            }
          })
          .catch(error => {
            this.chatErrorMessages = this.getValue(error.response, "data.data");
          })
          .finally(() => {
            this.isSaveLoading = false;
          });
      }
    },
    onNewMessageClick() {
      this.messagePopupActive = true;
      this.messageIndex = "new";
    },
    onMessageDeleteClick(index) {
      this.chat.messages.splice(index, 1);
    },
    onUpdateMessageClick() {
      if (this.messageIndex !== "new") {
        this.chat.messages[this.messageIndex].message = this.chatMessage;
      } else {
        this.chat.messages.push(this.chatMessage);
      }
      this.messagePopupActive = false;
    },

    onEmojiPopupChanged() {
      console.log("hello popup");
    },
    onEmojiClick(unicode) {
      this.chatMessage += unicode.native;
    },
    onMessageClick(index) {
      this.messageIndex = index;
      this.chatMessage = this.chat.messages[index].message;
      console.log("message click", index);
      this.messagePopupActive = true;
    },
    toggleVisibilityButton() {
      this.isVisible = !this.isVisible;

      this.chat.messages.forEach(item => {
        item.is_visible = this.isVisible;
      });
      // return this.isVisible ? "EyeOffIcon" : "EyeIcon";
    },
    toggleSoundButton() {
      return this.hasSound ? "Volume2Icon" : "VolumeXIcon";
    },
    togglePlayButton() {
      return this.isPlaying ? "PauseIcon" : "PlayIcon";
    },
    onDeleteChatItemClick(index) {
      this.chat.messages.splice(index, 1);
    },

    closeProfileSidebar() {
      console.log("close profile sidebar");
      this.isProfileSidebarOpen = !this.isProfileSidebarOpen;
    },

    showProfileSidebar(openOnLeft = false) {
      this.isLoggedInUserProfileView = openOnLeft;
      this.activeProfileSidebar = !this.activeProfileSidebar;
    },
    isSameDay(time_to, time_from) {
      const date_time_to = new Date(Date.parse(time_to));
      const date_time_from = new Date(Date.parse(time_from));
      return (
        date_time_to.getFullYear() === date_time_from.getFullYear() &&
        date_time_to.getMonth() === date_time_from.getMonth() &&
        date_time_to.getDate() === date_time_from.getDate()
      );
    },
    toDate(time) {
      const locale = "en-us";
      const date_obj = new Date(Date.parse(time));
      const monthName = date_obj.toLocaleString(locale, {
        month: "short"
      });
      return `${date_obj.getDate()} ${monthName}`;
    },
    scrollToBottom() {
      this.$nextTick(() => {
        this.$parent.$el.scrollTop = this.$parent.$el.scrollHeight;
      });
    },
    onThemMeClickNewMessageClick(clickType = null) {
      this.chat.messages.push({
        fake_user: {name: ""},
        is_sent: clickType == "Them" ? false : true,
        is_visible: true,
        message: this.newMessage
      });

      this.newMessage = "";
    },
    sendMsg() {
      console.log("send message");
      this.chat.messages.push({
        fake_user: {name: ""},
        is_sent: false,
        is_visible: true,
        message: this.newMessage
      });

      this.newMessage = "";

      const scroll_el = this.$refs.chatLogPS.$el || this.$refs.chatLogPS;
      scroll_el.scrollTop = this.$refs.chatLog.scrollHeight;
    },
    toggleIsChatPinned(value) {
      this.isChatPinned = value;
    },
    setSidebarWidth() {
      if (this.windowWidth < 1200) {
        this.isChatSidebarActive = this.clickNotClose = false;
      } else {
        this.isChatSidebarActive = this.clickNotClose = true;
      }
    },
    toggleChatSidebar(value = false) {
      if (!value && this.clickNotClose) return;
      this.isChatSidebarActive = value;
    }
  },
  components: {
    VuePerfectScrollbar,
    draggable,
    "twemoji-picker": TwemojiPicker,
    "twemoji-textarea": TwemojiTextarea,
    Picker,
    VueLoading
  },
  updated() {
    this.scrollToBottom();
  },

  created() {
    this.setSidebarWidth();
    this.getChatTags();

    if (this.chatId) {
      this.getChat();
    }

    // for (let i = 0; i < 30; i++) {
    //   this.chat.messages.push({
    //     message: faker.lorem.sentence(),
    //     is_sent: faker.random.boolean(),
    //     fake_user: {
    //       name: faker.internet.userName()
    //     },
    //     is_visible: true
    //   });
    // }

    // this.interval = setInterval(() => {
    // this.chat.messages.forEach((item, index) => {
    //   if (index <= this.visibleMessageIndex) {
    //     console.log(index, this.visibleMessageIndex);
    //     this.chat.messages[index].is_visible = true;
    //   } else {
    //     this.chat.messages[index].is_visible = false;
    //   }
    // });

    // this.chat.messages = this.chat.messages.map((item, index) => {
    //   if (index <= this.visibleMessageIndex) {
    //     console.log(item);
    //     item.is_visible = true;
    //     return item;
    //   }
    // });

    // this.visibleMessageIndex++;
    // }, 1500);
  },
  beforeDestroy() {},
  mounted() {
    // this.scrollToBottom();
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/apps/chat.scss";
.shift-right-enter {
  transform: translateX(500px);
  transition: all 10s cubic-bezier(1, 0.5, 0.8, 1);
}

.shift-left-enter {
  transform: translateX(500px);
  transition: all 10s cubic-bezier(1, 0.5, 0.8, 1);
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.chat__nbg {
  // background-color: #dfdbe5;
  // background-color: #d3d3d3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  // background-image: url('../../../assets/images/backgrounds/chat-bg.png');
}

.ghost {
  opacity: 0.5;
  background: #1982fc;
}

#left-sidebar .vs-sidebar {
  z-index: 3;
  max-width: 400px;
}

#left-sidebar .vs-sidebar--items {
  overflow-y: auto;
}

#chat-app .chat-content-area .chat-content-scroll-area {
  height: calc(100% - 70px);
}
</style>
