<template>
  <vs-card actionable class="cardx">
    <div slot="header">
      <h6>
        {{ item.name }}
      </h6>
    </div>
    <div style="height:130px">
      <span>{{ item.description }}</span>
    </div>
    <div slot="footer">
      <vs-row vs-justify="flex-end">
        <vs-button
          v-if="hasButtons"
          class="mx-2"
          type="gradient"
          color="danger"
          icon="favorite"
        ></vs-button>
        <vs-button
          v-if="hasButtons"
          class="mx-2"
          color="primary"
          icon="visibility"
        ></vs-button>
      </vs-row>
    </div>
  </vs-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: {}
    },
    hasButtons: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<style lang="scss" scoped></style>
