<template>
  <div id="chat-app" class="border border-solid d-theme-border-grey-light rounded relative overflow-hidden">
    <div id="parentx-demo-2">
      <vs-sidebar
        parent="#chat-app"
        :position-right="true"
        :hidden-background="false"
        v-model="isProfileSidebarOpen"
        id="chat-profile-sidebar"
        class="items-no-padding"
      >
        <div class="header-sidebar relative flex flex-col p-0" slot="header">
          <feather-icon
            icon="XIcon"
            svgClasses="m-2 cursor-pointer absolute top-0 right-0"
            @click="isProfileSidebarOpen = false"
          ></feather-icon>

          <div class="relative inline-flex mx-auto mb-5 mt-6">
            <vs-avatar
              class="m-0 border-white border-2 border-solid shadow-md"
              :src="getValue(chat.fake_users[0], 'photo_url')"
              size="70px"
            />
            <div
              class="h-5 w-5 border-white border-2 border-solid rounded-full absolute right-0 bottom-0"
              :class="'bg-' + statusColor"
            ></div>
          </div>

          <h4 class="mr-2 self-center">
            <vs-input placeholder="Display Name" v-model="chat.fake_users[0].name" />
          </h4>
        </div>
        <div class="header-sidebar relative flex flex-col m-5">
          <vs-input class="w-full" placeholder="Chat Title" label="Title" v-model="chat.title" />
          <vs-textarea class="mt-3 h-64" counter="280" label="Description" v-model="chat.description" />
        </div>

        <component :is="scrollbarTag" class="scroll-area" :settings="settings">
          <vs-list>
            <vs-list-header title="Group"></vs-list-header>
            <div v-for="(fakeUser, index) in chat.fake_users" :key="index">
              <vs-list-item :title="fakeUser.name" :subtitle="fakeUser.description">
                <template slot="avatar"> <vs-avatar :src="fakeUser.image_url" class="mx-3"/></template>
                <vs-button icon="delete" color="danger"></vs-button>
              </vs-list-item>
            </div>
          </vs-list>
        </component>
      </vs-sidebar>
    </div>

    <!-- RIGHT COLUMN -->
    <div
      class="chat__bg no-scroll-content chat-content-area border border-solid d-theme-border-grey-light border-t-0 border-r-0 border-b-0"
      :class="{}"
    >
      <template>
        <div class="chat__navbar">
          <vs-navbar class="p-4 flex navbar-custom" color="white" type="flat">
            <div class="relative flex mr-4">
              <feather-icon icon="SettingsIcon" class="mr-4 cursor-pointer" @click="isProfileSidebarOpen = true" />
              <vs-avatar class="m-0 border-2 border-solid border-white" size="40px" @click="isProfileSidebarOpen = true" />
              <div
                class="h-3 w-3 border-white border border-solid rounded-full absolute right-0 bottom-0"
                :class="'bg-success'"
                @click=""
              ></div>
            </div>
            <vs-input placeholder="Display Name" v-model="chat.fake_users[0].name" />
            <vs-spacer></vs-spacer>
            <feather-icon
              icon="ReloadIcon"
              class="cursor-pointer mx-2"
              :svgClasses="['w-8', 'h-8']"
              @click="toggleVisibilityButton"
            ></feather-icon>
            <feather-icon
              icon="SaveIcon"
              class="cursor-pointer mx-2"
              :svgClasses="['w-8', 'h-8']"
              @click="toggleVisibilityButton"
            ></feather-icon>
          </vs-navbar>
        </div>

        <component
          :is="scrollbarTag"
          class="chat-content-scroll-area border border-solid d-theme-border-grey-light"
          :settings="settings"
          ref="chatLogPS"
        >
          <div class="chat__log" ref="chatLog">
            <div id="component-chat-log" class="m-8">
              <draggable
                :list="chat.messages"
                handle=".handle"
                animation="500"
                easing="cubic-bezier(1, 0, 0, 1)"
                :force-fallback="true"
                ghost-class="ghost"
                :scroll-sensitivity="400"
              >
                <div v-for="(message, index) in chat.messages" class="msg-grp-container" :key="index">
                  <template v-if="message[index - 1]">
                    <vs-divider v-if="!isSameDay(message.time, message[index - 1].time)" class="msg-time">
                      <span>{{ toDate(message.time) }}</span>
                    </vs-divider>
                    <div class="spacer mt-8" v-if="!hasSentPreviousMsg(message[index - 1].is_sent, message.is_sent)"></div>
                  </template>

                  <div class="flex items-start" :class="[{'flex-row-reverse': message.is_sent}]">
                    <template>
                      <vs-avatar
                        v-if="!message.is_sent && chat.fake_users.length > 1"
                        size="40px"
                        class="border-2 shadow border-solid border-white m-0 flex-shrink-0 my-5"
                        :class="message.is_sent ? 'sm:ml-5 ml-3' : 'sm:mr-5 mr-3'"
                      ></vs-avatar>
                    </template>

                    <template v-if="message[index - 1]">
                      <div
                        class="mr-16"
                        v-if="
                          !(
                            !hasSentPreviousMsg(message[index - 1].is_sent, message.is_sent) ||
                            !isSameDay(message.time, message[index - 1].time)
                          )
                        "
                      ></div>
                    </template>
                    <vs-card
                      actionable
                      style="margin-top:15px"
                      class="cardx msg break-words relative shadow-md rounded px-4 mb-2 rounded-lg max-w-md"
                      :class="{
                        'bg-primary-gradient text-white': message.is_sent,
                        'border border-solid border-transparent bg-white': !message.is_sent
                      }"
                    >
                      <div slot="header">
                        <textarea-autosize
                          :class="{
                            'text-base': true,
                            'text-white': message.is_sent,
                            'border-none': true
                          }"
                          style="font-weight: 200; font-family: 'Montserrat', Helvetica, Arial, sans-serif; background-color: transparent; width: 100%"
                          placeholder="Add message"
                          ref="myTextarea"
                          v-model="message.message"
                          @focus.native="onMessageClick(index)"
                        />
                      </div>
                      <div slot="footer">
                        <vs-row vs-justify="flex-end">
                          <vs-button
                            v-if="!message.is_sent"
                            color="primary"
                            type="gradient"
                            class="mx-2"
                            icon="redo"
                            @click="message.is_sent = !message.is_sent"
                          >
                            Me
                          </vs-button>
                          <vs-button
                            v-if="message.is_sent"
                            color="primary"
                            type="gradient"
                            class="mx-2"
                            icon="undo"
                            @click="message.is_sent = !message.is_sent"
                          >
                            Them
                          </vs-button>

                          <vs-button color="primary" type="gradient" icon="drag_handle" class=" handle"></vs-button>

                          <vs-button color="primary" type="gradient" icon="attachment" class="mx-2"></vs-button>
                          <vs-button color="danger" type="gradient" icon="delete" @click="onMessageDeleteClick(index)"> </vs-button>
                        </vs-row>
                      </div>
                    </vs-card>
                  </div>
                </div>
              </draggable>
            </div>
          </div>
        </component>
        <div class="chat__input flex p-4 bg-white">
          <vs-input class="flex-1 mr-3" placeholder="Type Your Message" v-model="newMessage" @keyup.enter="sendMsg" />
          <vs-button color="primary" type="gradient" class="mx-2" icon="undo" @click="onThemMeClickNewMessageClick('Them')">
            Them
          </vs-button>
          <vs-button color="primary" type="gradient" class="mx-2" icon="redo" @click="onThemMeClickNewMessageClick('Me')">
            Me
          </vs-button>
          <vs-button color="primary" type="gradient" icon="attachment" class="mx-2"></vs-button>
          <vs-button color="danger" type="gradient" icon="delete"> </vs-button>
        </div>
      </template>
    </div>
    <vs-popup class="Write Message" title="Chat Message" :active.sync="messagePopupActive">
      <vs-textarea style="min-height:120px" v-model="chatMessage" />
      <vs-button color="primary" type="filled" class="mb-4 block mx-auto w-full" @click="onUpdateMessageClick()">
        Update
      </vs-button>
      <picker style="width:100%" title="Texty Tales" @select="onEmojiClick($event)" />
    </vs-popup>
  </div>
</template>

<script>
import ChatContact from "./ChatContact.vue";
import ChatLog from "./ChatLog.vue";
import ChatNavbar from "./ChatNavbar.vue";
import UserProfile from "./UserProfile.vue";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import ChatItem from "./ChatItem";
// import faker from "faker";
import get from "get-value";
import draggable from "vuedraggable";
import {TwemojiPicker} from "@kevinfaguiar/vue-twemoji-picker";
import EmojiAllData from "@kevinfaguiar/vue-twemoji-picker/emoji-data/en/emoji-all-groups.json";
import EmojiDataAnimalsNature from "@kevinfaguiar/vue-twemoji-picker/emoji-data/en/emoji-group-animals-nature.json";
import EmojiDataFoodDrink from "@kevinfaguiar/vue-twemoji-picker/emoji-data/en/emoji-group-food-drink.json";
import EmojiGroups from "@kevinfaguiar/vue-twemoji-picker/emoji-data/emoji-groups.json";
import {TwemojiTextarea} from "@kevinfaguiar/vue-twemoji-picker";
import {Picker} from "emoji-mart-vue";

// import { VTextarea } from "vuetify/lib";

// import moduleChat from "@/store/chat/moduleChat.js";

export default {
  data() {
    return {
      hasSound: true,
      chat: {
        messages: [],
        fake_users: [{name: ""}, {name: ""}]
      },
      messageIndex: null,
      chatMessage: "",
      messagePopupActive: false,
      newMessage: "",
      visibleMessageIndex: 0,
      isProfileSidebarOpen: false,
      messagePlayStart: 0,
      isFavoriteChat: false,
      isPlaying: true,
      isVisible: false,
      active: true,
      isHidden: false,
      searchContact: "",
      activeProfileSidebar: true,
      activeChatUser: {},
      userProfileId: -1,
      typedMessage: "",
      isChatPinned: false,
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.7
      },
      clickNotClose: true,
      isChatSidebarActive: false,
      isLoggedInUserProfileView: false,
      relatedChats: []
    };
  },
  watch: {
    windowWidth() {
      this.setSidebarWidth();
    },
    isPlaying(newValue) {
      if (newValue == false) {
        clearInterval(this.interval);
      } else {
        this.interval = setInterval(() => {
          this.visibleMessageIndex++;
        }, 1500);
      }
    },
    visibleMessageIndex(newValue, oldValue) {
      this.chat.messages.forEach((item, index) => {
        if (index <= newValue) {
          this.chat.messages[index].is_visible = true;
        } else {
          this.chat.messages[index].is_visible = false;
        }
      });
    }
  },
  computed: {
    statusColor() {
      // const userStatus = this.status;

      // if (userStatus === "online") {
      //   return "success";
      // } else if (userStatus === "do not disturb") {
      //   return "danger";
      // } else if (userStatus === "away") {
      //   return "warning";
      // } else {
      //   return "grey";
      // }

      return "success";
    },
    getStatusColor() {
      return "success";
    },

    scrollbarTag() {
      return this.$store.getters.scrollbarTag;
    },

    windowWidth() {
      return this.$store.state.windowWidth;
    },
    emojiDataAll() {
      return EmojiAllData;
    },
    emojiGroups() {
      return EmojiGroups;
    }
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    onNewMessageClick() {
      this.messagePopupActive = true;
      this.messageIndex = "new";
    },
    onMessageDeleteClick(index) {
      this.chat.messages.splice(index, 1);
    },
    onUpdateMessageClick() {
      if (this.messageIndex !== "new") {
        this.chat.messages[this.messageIndex].message = this.chatMessage;
      } else {
        this.chat.messages.push(this.chatMessage);
      }
      this.messagePopupActive = false;
    },

    onEmojiPopupChanged() {
      console.log("hello popup");
    },
    onEmojiClick(unicode) {
      this.chatMessage += unicode.native;
    },
    onMessageClick(index) {
      this.messageIndex = index;
      this.chatMessage = this.chat.messages[index].message;
      console.log("message click", index);
      this.messagePopupActive = true;
    },
    toggleVisibilityButton() {
      this.isVisible = !this.isVisible;

      this.chat.messages.forEach(item => {
        item.is_visible = this.isVisible;
      });
      // return this.isVisible ? "EyeOffIcon" : "EyeIcon";
    },
    toggleSoundButton() {
      return this.hasSound ? "Volume2Icon" : "VolumeXIcon";
    },
    togglePlayButton() {
      return this.isPlaying ? "PauseIcon" : "PlayIcon";
    },

    closeProfileSidebar() {
      console.log("close profile sidebar");
      this.isProfileSidebarOpen = !this.isProfileSidebarOpen;
    },

    showProfileSidebar(openOnLeft = false) {
      this.isLoggedInUserProfileView = openOnLeft;
      this.activeProfileSidebar = !this.activeProfileSidebar;
    },
    isSameDay(time_to, time_from) {
      const date_time_to = new Date(Date.parse(time_to));
      const date_time_from = new Date(Date.parse(time_from));
      return (
        date_time_to.getFullYear() === date_time_from.getFullYear() &&
        date_time_to.getMonth() === date_time_from.getMonth() &&
        date_time_to.getDate() === date_time_from.getDate()
      );
    },
    toDate(time) {
      const locale = "en-us";
      const date_obj = new Date(Date.parse(time));
      const monthName = date_obj.toLocaleString(locale, {
        month: "short"
      });
      return `${date_obj.getDate()} ${monthName}`;
    },
    scrollToBottom() {
      this.$nextTick(() => {
        this.$parent.$el.scrollTop = this.$parent.$el.scrollHeight;
      });
    },
    onThemMeClickNewMessageClick(clickType = null) {
      this.chat.messages.push({
        fake_user: {name: ""},
        is_sent: clickType == "Them" ? false : true,
        is_visible: true,
        message: this.newMessage
      });

      this.newMessage = "";
    },
    sendMsg() {
      console.log("send message");
      this.chat.messages.push({
        fake_user: {name: ""},
        is_sent: false,
        is_visible: true,
        message: this.newMessage
      });

      this.newMessage = "";

      const scroll_el = this.$refs.chatLogPS.$el || this.$refs.chatLogPS;
      scroll_el.scrollTop = this.$refs.chatLog.scrollHeight;
    },
    toggleIsChatPinned(value) {
      this.isChatPinned = value;
    },
    setSidebarWidth() {
      if (this.windowWidth < 1200) {
        this.isChatSidebarActive = this.clickNotClose = false;
      } else {
        this.isChatSidebarActive = this.clickNotClose = true;
      }
    },
    toggleChatSidebar(value = false) {
      if (!value && this.clickNotClose) return;
      this.isChatSidebarActive = value;
    }
  },
  components: {
    VuePerfectScrollbar,
    draggable,
    "twemoji-picker": TwemojiPicker,
    "twemoji-textarea": TwemojiTextarea,
    Picker

    // ChatContact,
    // UserProfile,
    // ChatNavbar,
    // ChatLog,
    // ChatItem
  },
  updated() {
    this.scrollToBottom();
  },

  created() {
    console.log(this.$refs);
    this.setSidebarWidth();

    // for (let i = 0; i < 30; i++) {
    //   this.chat.messages.push({
    //     message: faker.lorem.sentence(),
    //     is_sent: faker.random.boolean(),
    //     fake_user: {
    //       name: faker.internet.userName()
    //     },
    //     is_visible: true
    //   });
    // }

    // this.interval = setInterval(() => {
    // this.chat.messages.forEach((item, index) => {
    //   if (index <= this.visibleMessageIndex) {
    //     console.log(index, this.visibleMessageIndex);
    //     this.chat.messages[index].is_visible = true;
    //   } else {
    //     this.chat.messages[index].is_visible = false;
    //   }
    // });

    // this.chat.messages = this.chat.messages.map((item, index) => {
    //   if (index <= this.visibleMessageIndex) {
    //     console.log(item);
    //     item.is_visible = true;
    //     return item;
    //   }
    // });

    // this.visibleMessageIndex++;
    // }, 1500);
  },
  beforeDestroy() {},
  mounted() {
    this.scrollToBottom();
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/apps/chat.scss";
.shift-right-enter {
  transform: translateX(500px);
  transition: all 10s cubic-bezier(1, 0.5, 0.8, 1);
}

.shift-left-enter {
  transform: translateX(500px);
  transition: all 10s cubic-bezier(1, 0.5, 0.8, 1);
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.ghost {
  opacity: 0.5;
  background: #1982fc;
}
</style>
