<template>
  <div class="relative">
    <div class="vx-navbar-wrapper" :class="classObj">
      <vs-navbar class="vx-navbar navbar-custom navbar-skelton" :color="navbarColorLocal" :class="textColor">
        <feather-icon class="sm:inline-flex xl:hidden cursor-pointer p-2" icon="MenuIcon" @click.stop="showSidebar" />
        <vs-spacer />
        <search-bar class="mr-4" />
        <vs-button v-if="!$store.state.AppActiveUser.token_id" color="primary" type="border" @click="onJoinClick">JOIN</vs-button>
        <profile-drop-down v-else />
      </vs-navbar>
    </div>
  </div>
</template>

<script>
import Bookmarks from "./components/Bookmarks.vue";
import SearchBar from "./components/SearchBar.vue";
import NotificationDropDown from "./components/NotificationDropDown.vue";
import ProfileDropDown from "./components/ProfileDropDown.vue";
import get from "get-value";
import {mapGetters} from "vuex";

export default {
  name: "the-navbar-vertical",
  props: {
    navbarColor: {
      type: String,
      default: "#fff"
    }
  },
  components: {
    Bookmarks,
    SearchBar,
    NotificationDropDown,
    ProfileDropDown
  },
  data() {
    return {
      // authTokenId: this.$store.state.AppActiveUser.token_id
    };
  },
  computed: {
    auth() {
      return this.$store.state.AppActiveUser.id;
    },
    ...mapGetters(["checkAuthenticated"]),
    navbarColorLocal() {
      return this.$store.state.theme === "dark" && this.navbarColor === "#fff" ? "#10163a" : this.navbarColor;
    },
    verticalNavMenuWidth() {
      return this.$store.state.verticalNavMenuWidth;
    },
    textColor() {
      return {
        "text-black": true
        // "text-white":
        //   (this.navbarColor !== "#10163a" && this.$store.state.theme === "dark") ||
        //   (this.navbarColor !== "#fff" && this.$store.state.theme !== "dark")
      };
    },
    windowWidth() {
      return this.$store.state.windowWidth;
    },

    // NAVBAR STYLE
    classObj() {
      if (this.verticalNavMenuWidth === "default") return "navbar-default";
      else if (this.verticalNavMenuWidth === "reduced") return "navbar-reduced";
      else if (this.verticalNavMenuWidth) return "navbar-full";
    }
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    onJoinClick() {
      this.$router.push("/register").catch(error => {
        console.log(error);
      });
    },
    showSidebar() {
      this.$store.commit("TOGGLE_IS_VERTICAL_NAV_MENU_ACTIVE", true);
    }
  },
  watch: {
    // "$store.state.AppActiveUser.id"(newValue, oldValue) {
    //   console.log(newValue);
    // }
  }
};
</script>
