<template>
  <div class="relative">
    <div class="vx-navbar-wrapper navbar-full p-0">
      <vs-navbar class="navbar-custom navbar-skelton" :class="navbarClasses" :style="navbarStyle" :color="navbarColor">
        <!-- <bookmarks :navbarColor="navbarColor" v-if="windowWidth >= 992" /> -->

        <router-link tag="div" to="/" class="vx-logo cursor-pointer mx-auto flex items-center">
          <img
            class="h-16 fixed"
            src="../../../../src/assets/images/logo/texty_tales_logo_2.png"
            style="left:39%; margin-left: -210px; margin-top:5px; margin-left: -15px"
          />
          <!-- <logo class="w-10 mr-4 fill-current text-primary" />
          <span class="vx-logo-text text-primary">Vuexy</span> -->
        </router-link>

        <search-bar class="mr-4" />

        <!-- <notification-drop-down /> -->
        <profile-drop-down v-if="$store.state.AppActiveUser.id" />
        <div v-else>
          <vs-button class="mr-5" color="primary" type="flat" @click="isSignupPromptEnabled = true">Signup</vs-button>
          <vs-button color="primary" type="border" @click="isLoginPromptEnabled = true">Login</vs-button>
        </div>
      </vs-navbar>
    </div>
    <!-- LOGIN PROMPT -->
    <vs-popup :active.sync="isLoginPromptEnabled" title="Login to TextTales">
      <div class="con-exemple-prompt">
        <v-facebook-login
          v-if="$store.state.hasFacebookBtn"
          v-model="fbLogin"
          class="my-3"
          style="width:83%; margin: auto;"
          app-id="738705620120451"
          :login-options="{
            scope: 'email'
          }"
          @sdk-init="handleSdkInit"
          @login="onFBLogin"
        >
        </v-facebook-login>
      </div>
      <h6
        v-if="$store.state.hasFacebookBtn"
        class="my-5"
        style="line-height: 0.1em; width: 100%; text-align:center; border-bottom: 1px solid #000; line-height: 0.1em;"
      >
        <span class="px-5" style="background-color: white;">OR</span>
      </h6>
      <vs-input
        class="w-10/12 m-auto my-4"
        placeholder="Email / Username"
        :danger="getValue(loginErrorMessages, 'email') ? true : false"
        :danger-text="getValue(loginErrorMessages, 'email')"
        v-model="loginRecord.email"
      />
      <vs-input
        class="w-10/12 m-auto my-4"
        placeholder="Password"
        type="password"
        :danger="getValue(loginErrorMessages, 'password') ? true : false"
        :danger-text="getValue(loginErrorMessages, 'password')"
        v-model="loginRecord.password"
      />
      <div class="w-10/12 m-auto my-6">
        <vs-button class="w-full" color="primary" @click="login">LOGIN</vs-button>
      </div>
      <div class="flex w-10/12 m-auto">
        <vs-checkbox v-model="isRememberMeChecked" class="w-6/12 text-sm">Remember Me</vs-checkbox>
        <div class="w-6/12 text-right text-sm cursor-pointer" @click="onForgetPasswordClick"><u>Forget Password?</u></div>
      </div>
    </vs-popup>
    <!-- SIGNUP PROMPT -->
    <vs-popup :active.sync="isSignupPromptEnabled" title="Signup to TextTales">
      <div class="con-exemple-prompt">
        <v-facebook-login
          v-if="$store.state.hasFacebookBtn"
          v-model="fbLogin"
          class="my-3"
          style="width:83%; margin: auto;"
          app-id="738705620120451"
          :login-options="{
            scope: 'email'
          }"
          @sdk-init="handleSdkInit"
          @login="onFBLogin"
        >
        </v-facebook-login>
      </div>
      <h6
        v-if="$store.state.hasFacebookBtn"
        class="my-5"
        style="line-height: 0.1em; width: 100%; text-align:center; border-bottom: 1px solid #000; line-height: 0.1em;"
      >
        <span class="px-5" style="background-color: white;">OR</span>
      </h6>
      <vs-input
        class="w-10/12 m-auto my-4 mt-8"
        placeholder="Email"
        v-model="signupRecord.email"
        :danger="getValue(signupErrorMessages, 'email') ? true : false"
        :danger-text="getValue(signupErrorMessages, 'email')"
      />
      <div class="w-10/12 m-auto ">
        <vs-button class="w-full" color="primary" @click="onSignupFlow1Click">CONTINUE</vs-button>
      </div>
      <div class="w-10/12 m-auto my-6">
        <div style="font-size:.9em">
          By joining I agree to receive emails from TextTales
        </div>
      </div>
      <div
        class="my-5"
        style="line-height: 0.1em; width: 100%; text-align:center; border-bottom: 1px solid #000; line-height: 0.1em;"
      ></div>
      <div class="w-10/12 m-auto my-2 text-center">Already a member? <u @click="onSignInClick">Sign in</u></div>
    </vs-popup>

    <!-- SIGNUP 2 PROMPT -->
    <vs-popup :active.sync="isSignup2PromptEnabled" title="Join TextyTales">
      <vs-input
        class="w-10/12 m-auto my-4"
        placeholder="Username"
        v-model="signupRecord.username"
        :danger="checkErrorMessage(signupErrorMessages, 'username') ? true : false"
        :danger-text="checkErrorMessage(signupErrorMessages, 'username')"
        autocomplete="false"
      />
      <vs-input
        class="w-10/12 m-auto my-4"
        placeholder="Password"
        type="password"
        :danger="checkErrorMessage(signupErrorMessages, 'password') ? true : false"
        :danger-text="checkErrorMessage(signupErrorMessages, 'password')"
        v-model="signupRecord.password"
      />
      <div class="w-10/12 m-auto my-6">
        <div class="text-sm">
          8 characters or longer. Combine upper and lowercase letters and numbers.
        </div>
      </div>
      <div class="w-10/12 m-auto my-6">
        <vs-button v-if="!isSignupLoading" ref="signupButtonRef" class="w-full" color="primary" @click="onSignupFlow2Click">JOIN</vs-button>
        <vue-loading v-else type="bars" color="blue" :size="{width: '40px', height: '40px'}"></vue-loading>
        <div></div>
      </div>
      <div class="w-10/12 m-auto my-4">
        <div class="text-xs">
          By joining, you agree to TextTales
          <u @click="onTOSClick">Terms of Service</u>, as well as to receive occasional emails from us.
        </div>
      </div>
      <div
        class="my-5"
        style="line-height: 0.1em; width: 100%; text-align:center; border-bottom: 1px solid #000; line-height: 0.1em;"
      ></div>
      <div class="w-10/12 m-auto my-2 text-center"
        >Already a member?
        <u @click="onSignInClick">Sign in</u>
      </div>
    </vs-popup>
    <!-- FB LOGIN PROMT -->
    <vs-popup :active.sync="isSignupFBPromptEnabled" title="Join TextyTales">
      <vs-input
        class="w-10/12 m-auto my-4"
        placeholder="Username"
        v-model="signupRecord.username"
        :danger="getValue(signupErrorMessages, 'username') ? true : false"
        :danger-text="getValue(signupErrorMessages, 'username')"
        autocomplete="false"
      />
      <!-- <vs-input
        class="w-10/12 m-auto my-4"
        placeholder="Email"
        type="email"
        disabled
        :danger="getValue(signupErrorMessages, 'email') ? true : false"
        :danger-text="getValue(signupErrorMessages, 'email')"
        v-model="signupRecord.email"
      /> -->

      <div class="w-10/12 m-auto my-6">
        <vs-button class="w-full" color="primary" @click="onSignupFBFlowClick">JOIN</vs-button>
      </div>
      <div class="w-10/12 m-auto my-4">
        <div class="text-xs">
          By joining, you agree to TextTales
          <u @click="onTOSClick">Terms of Service</u>, as well as to receive occasional emails from us.
        </div>
      </div>
      <div
        class="my-5"
        style="line-height: 0.1em; width: 100%; text-align:center; border-bottom: 1px solid #000; line-height: 0.1em;"
      ></div>
      <div class="w-10/12 m-auto my-2 text-center">Already a member? <u @click="onSignInClick">Sign in</u></div>
    </vs-popup>
  </div>
</template>

<script>
import {VueLoading} from "vue-loading-template";
import Bookmarks from "./components/Bookmarks.vue";
import SearchBar from "./components/SearchBar.vue";
import NotificationDropDown from "./components/NotificationDropDown.vue";
import ProfileDropDown from "./components/ProfileDropDown.vue";
import Logo from "../Logo.vue";
import api from "../../../axios";
import get from "get-value";
import VFacebookLogin from "vue-facebook-login-component";
import GoogleLogin from "vue-google-login";

export default {
  data() {
    return {
      googleParams: {
        client_id: "xxxxxx"
      },
      FB: {},
      model: {},
      scope: {},
      fbData: {},
      fbLogin: null,
      isRememberMeChecked: true,
      loginErrorMessages: {
        email: "",
        password: ""
      },
      signupErrorMessages: null,
      signupRecord: {
        email: "",
        username: "",
        password: ""
      },
      loginRecord: {
        email: "",
        password: ""
      },
      username: "",
      password: "",
      isSignupPromptEnabled: false,
      isSignup2PromptEnabled: false,
      isLoginPromptEnabled: false,
      isSignupFBPromptEnabled: false,
      isSignupLoading: false
    };
  },
  name: "the-navbar-horizontal",
  props: {
    logo: {type: String},
    navbarType: {
      type: String,
      required: true
    }
  },
  components: {
    Logo,
    Bookmarks,
    SearchBar,
    NotificationDropDown,
    ProfileDropDown,
    VFacebookLogin,
    GoogleLogin,
    VueLoading
  },
  computed: {
    navbarColor() {
      let color = "#fff";
      if (this.navbarType === "sticky") color = "#ffffff";
      else if (this.navbarType === "static") {
        if (this.scrollY < 50) {
          color = "#ffffff";
        }
      }

      if (this.isThemedark === "dark") {
        if (color === "#fff") {
          color = "#10163a";
        } else {
          color = "#262c49";
        }
      }

      return color;
    },
    isThemedark() {
      return this.$store.state.theme;
    },
    navbarStyle() {
      return this.navbarType === "static" ? {transition: "all .25s ease-in-out"} : {};
    },
    navbarClasses() {
      return this.scrollY > 5 && this.navbarType === "static" ? null : "d-theme-dark-light-bg shadow-none";
    },
    scrollY() {
      return this.$store.state.scrollY;
    },
    verticalNavMenuWidth() {
      return this.$store.state.verticalNavMenuWidth;
    },
    windowWidth() {
      return this.$store.state.windowWidth;
    }
  },
  methods: {
    onGoogleSuccess(googleUser) {
      console.log(googleUser);
    },
    onGoogleFailure() {},
    onFBLogin(response) {
      console.log(response);
      this.getUserData();
    },
    handleSdkInit({FB, scope}) {
      this.FB = FB;
      // this.$store.dispatch("updateFBScope", scope);
      this.scope = scope;
    },
    getUserData() {
      this.FB.api("/me", {fields: "email, picture"}, user => {
        console.log(user);
        this.fbData = user;
        this.getCheckValidFBEmail();
      });
    },
    onForgetPasswordClick() {
      this.$router.push("/forgot-password").catch(() => {});
      this.resetRecord();
      this.isLoginPromptEnabled = false;
    },
    getCheckValidFBEmail() {
      api
        .post("auth/verify-email", {
          email: this.fbData.email
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            let record = response.data.data;
            console.log(record);
            if (record.status_id == 0) {
              // IF HAS EMAIL RUN THE FB AUTHENTICATION
              this.facebookAuthentication(this.fbData.id, this.fbData.email);
            } else {
              // IF NO EMAIL HAS BEEN FOUND
              // NAVIGATE TO REGISTER PROCESS
              this.isSignupFBPromptEnabled = true;
            }

            this.isLoginPromptEnabled = false;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    facebookAuthentication() {
      api
        .post("auth/fb", {
          email: this.fbData.email,
          fb_id: this.fbData.id,
          username: this.signupRecord.username
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            let record = response.data.data;
            this.$store.dispatch("updateUserInfo", {
              id: record._id,
              token_id: record.token,
              email: record.email,
              username: record.username,
              photo_url: record.photo_url
            });
            this.resetRecord();
            this.fbData = {};
            this.isSignupFBPromptEnabled = false;
            this.isSignupPromptEnabled = false;
            this.isLoginPromptEnabled = false;
            this.$router.push("/").catch(() => {});
            this.scope.logout();
          }
        })
        .catch(error => {
          if (this.getValue(error.response, "data.data")) {
            this.signupErrorMessages = error.response.data.data;
          }
        });
    },
    onSignupFBFlowClick() {
      this.facebookAuthentication();
    },
    validateEmail(email) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    getValue(resource, key) {
      return get(resource, key);
    },
    onSignInClick() {
      this.resetRecord();

      this.isSignupPromptEnabled = false;
      this.isSignup2PromptEnabled = false;
      this.isLoginPromptEnabled = true;
    },
    onTOSClick() {
      let routeData = this.$router.resolve({
        name: "routeName"
      });
      window.open(routeData.href, "_blank");
    },
    onSignupFlow1Click() {
      this.signupErrorMessages = null;

      if (!this.signupRecord.email) {
        this.signupErrorMessages = {
          email: "Please fill in an email to continue"
        };
        console.log(this.signupErrorMessages);
        return;
      }
      if (this.validateEmail(this.signupRecord.email) == false) {
        console.log("validating email");
        this.signupErrorMessages = {email: "Invalid Email"};
        return;
      }

      api
        .post("auth/verify-email", this.signupRecord)
        .then(response => {
          this.isSignupPromptEnabled = false;
          this.isSignup2PromptEnabled = true;
        })
        .catch(error => {
          this.signupErrorMessages = {
            email: "Email Taken"
          };
        });
    },
    onSignupFlow2Click() {
      this.signup();
    },

    resetRecord() {
      this.signupRecord = {
        email: "",
        username: "",
        password: ""
      };
      this.loginRecord = {
        username: "",
        password: ""
      };
    },
    checkErrorMessage(errorMessages, errorKey) {
      if (errorMessages && errorMessages.length > 0) {
        let error = errorMessages.find(error => {
          console.log(error, errorKey);
          if (error.param == errorKey) {
            return error;
          }
        });

        if (error) {
          return error.msg;
        } else {
          return null;
        }
      } else {
        return null;
      }
    },
    login() {
      this.loginErrorMessages = {
        email: "",
        password: ""
      };

      if (!this.loginRecord.email) {
        this.loginErrorMessages.email = "Wrong username/email";
        this.loginErrorMessages.password = "Wrong password";
      }

      if (!this.loginRecord.password) {
        this.loginErrorMessages.password = "Wrong password";
      }

      if (!this.loginRecord.password && !this.loginRecord.email) {
        return;
      }

      api
        .post("auth/login", this.loginRecord)
        .then(response => {
          if (this.getValue(response.data, "data")) {
            let record = response.data.data;
            this.$store.dispatch("updateUserInfo", {
              id: record._id,
              token_id: record.token,
              email: record.email,
              username: record.username,
              photo_url: record.photo_url
              // id: record
            });
            this.resetRecord();
            this.isLoginPromptEnabled = false;
            this.$router.replace("/").catch(() => {});
          }
        })
        .catch(error => {
          this.loginErrorMessages.email = "Wrong username/email";
          this.loginErrorMessages.password = "Wrong password";
        });
    },
    signup() {
      let that = this;
      this.isSignupLoading = true;

      api
        .post("auth/register", this.signupRecord)
        .then(response => {
          this.resetRecord();
          this.isSignup2PromptEnabled = false;
        })
        .catch(error => {
          if (this.getValue(error.response, "data.data")) {
            this.signupErrorMessages = error.response.data.data;
          }
        })
        .finally(() => {
          this.isSignupLoading = false;
        });
    }
  },
  watch: {
    isSignupPromptEnabled(newValue, oldValue) {
      if (newValue === false) {
        this.signupErrorMessages = {};
      }
    },
    isSignup2PromptEnabled(newValue, oldValue) {
      if (newValue === false) {
        this.signupErrorMessages = {};
        this.resetRecord();
      }
    },
    isLoginPromptEnabled(newValue, oldValue) {
      if (newValue === false) {
        this.loginErrorMessages = {};
        this.signupErrorMessages = {};
        this.resetRecord();
      }
    }
  }
};
</script>

<style lang="css">
.vs-popup {
  width: 30em !important;
}
.vs-popup--close {
  display: none;
}
.vs-popup--header {
  text-align: center;
}
</style>
