<template>
  <div class="h-screen flex w-full bg-img">
    <div class="vx-col flex items-center justify-center flex-col sm:w-1/2 md:w-3/5 lg:w-3/4 xl:w-1/2 mx-auto text-center">
      <img src="@/assets/images/pages/error_404.png" alt="graphic-404" class="mx-auto mb-4 max-w-full p-8" />
      <h1 class="sm:mx-0 mx-4 mb-12 text-5xl d-theme-heading-color">Account Confirmed</h1>
      <vs-button size="large" to="/">Back to Home</vs-button>
    </div>
  </div>
</template>

<script>
import api from "../../axios";

export default {
  data() {
    return {
      otpCode: this.$route.params.otpCode
    };
  },
  methods: {
    verifyOtpCode() {
      if (this.otpCode) {
        api
          .post("auth/verify-otp", {otp: this.otpCode})
          .then(response => {
            if (response.data) {
              this.$store.dispatch("updateUserInfo", {
                id: response.data.data._id,
                token_id: response.data.data.token,
                email: response.data.data.email,
                username: response.data.data.username,
                photo_url: response.data.data.photo_url
              });
            }

            this.$router.replace("/");
          })
          .catch(error => {
            console.log(error);
          });
      }
    }
  },
  created() {
    this.verifyOtpCode();
  }
};
</script>

<style lang="scss" scoped></style>
