<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">
    <div class="vx-col sm:w-1/2 md:w-2/4 lg:w-2/4 xl:w-1/4 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">
          <div class="vx-row no-gutter justify-center items-center">
            <!-- <div class="vx-col hidden lg:block lg:w-1/2">
              <img src="@/assets/images/logo/texty_tales_logo_2.png" alt="login" class="mx-auto" style="max-width: 100%" />
            </div> -->
            <div v-if="!isSuccess">
              <div class="vx-col sm:w-full md:w-full d-theme-dark-bg">
                <div class="p-8 login-tabs-container">
                  <div class="vx-card__title mb-4 text-center">
                    <h4 class="mb-4">Forget Password?</h4>
                    <h4 class="px-5 font-" style="background-color: white;"
                      >Please enter your email address and we'll send you a link to reset your password.</h4
                    >
                  </div>
                  <div class="my-5">
                    <vs-input
                      class="w-10/12 m-auto my-4 mt-8"
                      placeholder="Email"
                      v-model="email"
                      :danger="getValue(signupErrorMessages, 'email') ? true : false"
                      :danger-text="getValue(signupErrorMessages, 'email')"
                    />
                    <div class="w-10/12 m-auto ">
                      <vs-button v-if="!isLoading" class="w-full" color="primary" @click="onForgetPasswordClick">CONTINUE</vs-button>
                      <vue-loading v-else type="bars" color="blue" :size="{width: '40px', height: '40px'}"></vue-loading>
                    </div>

                    <div class="my-5"></div>
                    <div class="w-10/12 m-auto my-2 text-center"
                      >Already a member?
                      <u class="cursor-pointer" @click="onSignInClick">Sign in</u>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-else>
              <div class="vx-col sm:w-full md:w-full d-theme-dark-bg">
                <div class="p-8 login-tabs-container">
                  <div class="vx-card__title mb-4 text-center">
                    <h3>Success</h3>
                    <h4 class="mb-4"
                      >If an email is available,<br />
                      a link will be sent to reset the password.</h4
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import api from "../../axios";
import get from "get-value";
import VFacebookLogin from "vue-facebook-login-component";
import {VueLoading} from "vue-loading-template";

export default {
  data() {
    return {
      email: "",
      password: "",
      username: "",
      password: "",
      loginRecord: {
        email: "",
        password: ""
      },
      signupErrorMessages: null,
      loginErrorMessages: {
        email: "",
        password: ""
      },
      isSuccess: false,
      isLoading: false
    };
  },
  components: {
    VFacebookLogin,
    VueLoading
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    validateEmail(email) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },

    onForgetPasswordClick() {
      this.isLoading = true;
      api
        .post("auth/reset-password-link", {email: this.email})
        .then(response => {
          this.isSuccess = true;
        })
        .catch(error => {})
        .finally(() => {
          this.isLoading = false;
        });
    },

    onTOSClick() {
      let routeData = this.$router.resolve({
        name: "routeName"
      });
      window.open(routeData.href, "_blank");
    },
    onSignInClick() {
      this.$router.push("/login");
    },

    resetRecord() {
      this.signupRecord = {
        email: "",
        username: "",
        password: ""
      };
      this.loginRecord = {
        username: "",
        password: ""
      };
    }
  }
};
</script>

<style lang="scss">
#page-login {
  .social-login-buttons {
    .bg-facebook {
      background-color: #1551b1;
    }
    .bg-twitter {
      background-color: #00aaff;
    }
    .bg-google {
      background-color: #4285f4;
    }
    .bg-github {
      background-color: #333;
    }
  }
}
</style>
