<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">
          <div class="vx-row no-gutter justify-center items-center">
            <div class="vx-col hidden lg:block lg:w-1/2">
              <img src="@/assets/images/logo/texty_tales_logo_2.png" alt="login" class="mx-auto" style="max-width: 100%" />
            </div>

            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
              <div class="p-8 login-tabs-container">
                <div class="vx-card__title mb-4">
                  <h4 class="mb-4">Login</h4>
                  <p>Welcome back, please login to your account.</p>
                </div>

                <div class="con-exemple-prompt">
                  <v-facebook-login
                    v-model="fbLogin"
                    class="my-3"
                    style="width:83%; margin: auto;"
                    app-id="738705620120451"
                    :login-options="{
                      scope: 'email'
                    }"
                    @sdk-init="handleSdkInit"
                    @login="onFBLogin"
                  >
                  </v-facebook-login>
                </div>
                <h6
                  class="my-5"
                  style="line-height: 0.1em; width: 100%; text-align:center; border-bottom: 1px solid #000; line-height: 0.1em;"
                >
                  <span class="px-5" style="background-color: white;">OR</span>
                </h6>
                <vs-input
                  class="w-10/12 m-auto my-4"
                  placeholder="Email / Username"
                  :danger="getValue(loginErrorMessages, 'email') ? true : false"
                  :danger-text="getValue(loginErrorMessages, 'email')"
                  v-model="loginRecord.email"
                />
                <vs-input
                  class="w-10/12 m-auto my-4"
                  placeholder="Password"
                  type="password"
                  :danger="getValue(loginErrorMessages, 'password') ? true : false"
                  :danger-text="getValue(loginErrorMessages, 'password')"
                  v-model="loginRecord.password"
                />
                <div class="w-10/12 m-auto my-6">
                  <vs-button class="w-full" color="primary" @click="login">LOGIN</vs-button>
                </div>
                <div class="flex w-10/12 m-auto">
                  <vs-checkbox v-model="isRememberMeChecked" class="w-6/12 text-sm">Remember Me</vs-checkbox>
                  <div class="w-6/12 text-right text-sm"><u>Forget Password?</u></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import api from "../../axios";
import get from "get-value";
import VFacebookLogin from "vue-facebook-login-component";

export default {
  data() {
    return {
      email: "",
      password: "",
      checkbox_remember_me: false,
      FB: {},
      model: {},
      scope: {},
      fbData: {},
      fbLogin: null,
      username: "",
      password: "",
      isRememberMeChecked: true,
      signupRecord: {
        email: "",
        username: "",
        password: ""
      },
      loginRecord: {
        email: "",
        password: ""
      },
      loginErrorMessages: {
        email: "",
        password: ""
      }
    };
  },
  components: {
    VFacebookLogin
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    handleSdkInit({FB, scope}) {
      this.FB = FB;
      // this.$store.dispatch("updateFBScope", scope);
      this.scope = scope;
    },
    login() {
      this.loginErrorMessages = {
        email: "",
        password: ""
      };

      if (!this.loginRecord.email) {
        this.loginErrorMessages.email = "Wrong username/email";
        this.loginErrorMessages.password = "Wrong password";
      }

      if (!this.loginRecord.password) {
        this.loginErrorMessages.password = "Wrong password";
      }

      if (!this.loginRecord.password && !this.loginRecord.email) {
        return;
      }

      api
        .post("auth/login", this.loginRecord)
        .then(response => {
          if (this.getValue(response.data, "data")) {
            let record = response.data.data;
            this.$store.dispatch("updateUserInfo", {
              id: record._id,
              token_id: record.token,
              email: record.email,
              username: record.username,
              photo_url: record.photo_url
              // id: record
            });
            this.resetRecord();
            this.isLoginPromptEnabled = false;
          }
        })
        .catch(error => {
          this.loginErrorMessages.email = "Wrong username/email";
          this.loginErrorMessages.password = "Wrong password";
        });
    },
    onSignInClick() {
      this.resetRecord();
    },

    resetRecord() {
      this.signupRecord = {
        email: "",
        username: "",
        password: ""
      };
      this.loginRecord = {
        username: "",
        password: ""
      };
    },
    facebookAuthentication() {
      api
        .post("auth/fb", {
          email: this.fbData.email,
          fb_id: this.fbData.id,
          username: this.signupRecord.username
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            let record = response.data.data;
            this.$store.dispatch("updateUserInfo", {
              id: record._id,
              token_id: record.token,
              email: record.email,
              username: record.username,
              photo_url: record.photo_url
            });
            this.resetRecord();
            this.fbData = {};
            this.isSignupFBPromptEnabled = false;
            this.isSignupPromptEnabled = false;
            this.isLoginPromptEnabled = false;
            this.$router.push("/").catch(() => {});
            this.scope.logout();
          }
        })
        .catch(error => {
          if (this.getValue(error.response, "data.data")) {
            this.signupErrorMessages = error.response.data.data;
          }
        });
    },
    onFBLogin(response) {
      console.log(response);
      this.getUserData();
    },
    getUserData() {
      this.FB.api("/me", {fields: "email, picture"}, user => {
        console.log(user);
        this.fbData = user;
        this.getCheckValidFBEmail();
      });
    },
    getCheckValidFBEmail() {
      api
        .post("auth/verify-email", {
          email: this.fbData.email
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            let record = response.data.data;
            console.log(record);
            if (record.status_id == 0) {
              // IF HAS EMAIL RUN THE FB AUTHENTICATION
              this.facebookAuthentication(this.fbData.id, this.fbData.email);
            } else {
              // IF NO EMAIL HAS BEEN FOUND
              // NAVIGATE TO REGISTER PROCESS
              this.isSignupFBPromptEnabled = true;
            }

            this.isLoginPromptEnabled = false;
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style lang="scss">
#page-login {
  .social-login-buttons {
    .bg-facebook {
      background-color: #1551b1;
    }
    .bg-twitter {
      background-color: #00aaff;
    }
    .bg-google {
      background-color: #4285f4;
    }
    .bg-github {
      background-color: #333;
    }
  }
}
</style>
