<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">
          <div class="vx-row no-gutter justify-center items-center">
            <div class="vx-col hidden lg:block lg:w-1/2">
              <img src="@/assets/images/logo/texty_tales_logo_2.png" alt="login" class="mx-auto" style="max-width: 100%" />
            </div>

            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
              <div class="p-8 login-tabs-container">
                <div class="vx-card__title mb-4">
                  <h4 class="mb-4">Signup</h4>
                  <p>Welcome to TextyTales</p>
                </div>
                <div v-if="isSignupPromptEnabled">
                  <div class="con-exemple-prompt">
                    <v-facebook-login
                      v-if="$store.state.hasFacebookBtn"
                      v-model="fbLogin"
                      class="my-3"
                      style="width:83%; margin: auto;"
                      app-id="738705620120451"
                      :login-options="{
                        scope: 'email'
                      }"
                      @sdk-init="handleSdkInit"
                      @login="onFBLogin"
                    >
                    </v-facebook-login>
                    <!-- <google-login
          :params="googleParams"
          :renderParams="{
            width: 250,
            height: 50,
            longtitle: true
          }"
          :onSuccess="onGoogleSuccess()"
          :onFailure="onGoogleFailure()"
        ></google-login> -->

                    <!-- <vs-button class="w-10/12 mx-10 my-2" color="primary" type="border"
          >Connect With Google</vs-button
        > -->
                  </div>
                  <h6
                    v-if="$store.state.hasFacebookBtn"
                    class="my-5"
                    style="line-height: 0.1em; width: 100%; text-align:center; border-bottom: 1px solid #000; line-height: 0.1em;"
                  >
                    <span class="px-5" style="background-color: white;">OR</span>
                  </h6>
                  <vs-input
                    class="w-10/12 m-auto my-4 mt-8"
                    placeholder="Email"
                    v-model="signupRecord.email"
                    :danger="getValue(signupErrorMessages, 'email') ? true : false"
                    :danger-text="getValue(signupErrorMessages, 'email')"
                  />
                  <div class="w-10/12 m-auto ">
                    <vs-button class="w-full" color="primary" @click="onSignupFlow1Click">CONTINUE</vs-button>
                  </div>
                  <div class="w-10/12 m-auto my-6">
                    <div style="font-size:.9em">
                      By joining I agree to receive emails from TextTales
                    </div>
                  </div>
                  <div
                    class="my-5"
                    style="line-height: 0.1em; width: 100%; text-align:center; border-bottom: 1px solid #000; line-height: 0.1em;"
                  ></div>
                  <div class="w-10/12 m-auto my-2 text-center"
                    >Already a member?
                    <u @click="onSignInClick"> Sign in</u>
                  </div>
                </div>
                <div v-if="isSignup2PromptEnabled">
                  <vs-input
                    class="w-10/12 m-auto my-4"
                    placeholder="Username"
                    v-model="signupRecord.username"
                    :danger="getValue(signupErrorMessages, 'username') ? true : false"
                    :danger-text="getValue(signupErrorMessages, 'username')"
                    autocomplete="false"
                  />
                  <vs-input
                    class="w-10/12 m-auto my-4"
                    placeholder="Password"
                    type="password"
                    :danger="getValue(signupErrorMessages, 'password') ? true : false"
                    :danger-text="getValue(signupErrorMessages, 'password')"
                    v-model="signupRecord.password"
                  />
                  <div class="w-10/12 m-auto my-6">
                    <div class="text-sm">
                      8 characters or longer. Combine upper and lowercase letters and numbers.
                    </div>
                  </div>
                  <div class="w-10/12 m-auto my-6">
                    <vs-button class="w-full" color="primary" @click="onSignupFlow2Click">JOIN</vs-button>
                  </div>
                  <div class="w-10/12 m-auto my-4">
                    <div class="text-xs">
                      By joining, you agree to TextTales
                      <u @click="onTOSClick">Terms of Service</u>, as well as to receive occasional emails from us.
                    </div>
                  </div>
                  <div
                    class="my-5"
                    style="line-height: 0.1em; width: 100%; text-align:center; border-bottom: 1px solid #000; line-height: 0.1em;"
                  ></div>
                  <div class="w-10/12 m-auto my-2 text-center"
                    >Already a member?
                    <u @click="onSignInClick">Sign in</u>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import api from "../../axios";
import get from "get-value";
import VFacebookLogin from "vue-facebook-login-component";

export default {
  data() {
    return {
      email: "",
      password: "",
      checkbox_remember_me: false,
      FB: {},
      model: {},
      scope: {},
      fbData: {},
      fbLogin: null,
      username: "",
      password: "",
      isRememberMeChecked: true,
      signupRecord: {
        email: "",
        username: "",
        password: ""
      },
      loginRecord: {
        email: "",
        password: ""
      },
      signupErrorMessages: null,
      loginErrorMessages: {
        email: "",
        password: ""
      },
      isSignupPromptEnabled: true,
      isSignup2PromptEnabled: false
    };
  },
  components: {
    VFacebookLogin
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    onSignupFlow1Click() {
      this.signupErrorMessages = null;

      if (!this.signupRecord.email) {
        this.signupErrorMessages = {
          email: "Please fill in an email to continue"
        };
        console.log(this.signupErrorMessages);
        return;
      }
      if (this.validateEmail(this.signupRecord.email) == false) {
        console.log("validating email");
        this.signupErrorMessages = {email: "Invalid Email"};
        return;
      }

      api
        .post("auth/verify-email", this.signupRecord)
        .then(response => {
          this.isSignupPromptEnabled = false;
          this.isSignup2PromptEnabled = true;
        })
        .catch(error => {
          this.signupErrorMessages = {
            email: "Email Taken"
          };
        });
    },
    onSignupFlow2Click() {
      this.signup();
    },
    validateEmail(email) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    handleSdkInit({FB, scope}) {
      this.FB = FB;
      // this.$store.dispatch("updateFBScope", scope);
      this.scope = scope;
    },
    signup() {
      api
        .post("auth/register", this.signupRecord)
        .then(response => {
          this.resetRecord();
          this.isSignup2PromptEnabled = false;
        })
        .catch(error => {});
    },
    login() {
      this.loginErrorMessages = {
        email: "",
        password: ""
      };

      if (!this.loginRecord.email) {
        this.loginErrorMessages.email = "Wrong username/email";
        this.loginErrorMessages.password = "Wrong password";
      }

      if (!this.loginRecord.password) {
        this.loginErrorMessages.password = "Wrong password";
      }

      if (!this.loginRecord.password && !this.loginRecord.email) {
        return;
      }

      api
        .post("auth/login", this.loginRecord)
        .then(response => {
          if (this.getValue(response.data, "data")) {
            let record = response.data.data;
            this.$store.dispatch("updateUserInfo", {
              id: record._id,
              token_id: record.token,
              email: record.email,
              username: record.username,
              photo_url: record.photo_url
              // id: record
            });
            this.resetRecord();
            this.isLoginPromptEnabled = false;
          }
        })
        .catch(error => {
          this.loginErrorMessages.email = "Wrong username/email";
          this.loginErrorMessages.password = "Wrong password";
        });
    },
    onTOSClick() {
      let routeData = this.$router.resolve({
        name: "routeName"
      });
      window.open(routeData.href, "_blank");
    },
    onSignInClick() {
      this.resetRecord();
    },

    resetRecord() {
      this.signupRecord = {
        email: "",
        username: "",
        password: ""
      };
      this.loginRecord = {
        username: "",
        password: ""
      };
    },
    facebookAuthentication() {
      api
        .post("auth/fb", {
          email: this.fbData.email,
          fb_id: this.fbData.id,
          username: this.signupRecord.username
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            let record = response.data.data;
            this.$store.dispatch("updateUserInfo", {
              id: record._id,
              token_id: record.token,
              email: record.email,
              username: record.username,
              photo_url: record.photo_url
            });
            this.resetRecord();
            this.fbData = {};
            this.isSignupFBPromptEnabled = false;
            this.isSignupPromptEnabled = false;
            this.isLoginPromptEnabled = false;
            this.$router.push("/").catch(() => {});
            this.scope.logout();
          }
        })
        .catch(error => {
          if (this.getValue(error.response, "data.data")) {
            this.signupErrorMessages = error.response.data.data;
          }
        });
    },
    onFBLogin(response) {
      console.log(response);
      this.getUserData();
    },
    getUserData() {
      this.FB.api("/me", {fields: "email, picture"}, user => {
        console.log(user);
        this.fbData = user;
        this.getCheckValidFBEmail();
      });
    },
    getCheckValidFBEmail() {
      api
        .post("auth/verify-email", {
          email: this.fbData.email
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            let record = response.data.data;
            console.log(record);
            if (record.status_id == 0) {
              // IF HAS EMAIL RUN THE FB AUTHENTICATION
              this.facebookAuthentication(this.fbData.id, this.fbData.email);
            } else {
              // IF NO EMAIL HAS BEEN FOUND
              // NAVIGATE TO REGISTER PROCESS
              this.isSignupFBPromptEnabled = true;
            }

            this.isLoginPromptEnabled = false;
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style lang="scss">
#page-login {
  .social-login-buttons {
    .bg-facebook {
      background-color: #1551b1;
    }
    .bg-twitter {
      background-color: #00aaff;
    }
    .bg-google {
      background-color: #4285f4;
    }
    .bg-github {
      background-color: #333;
    }
  }
}
</style>
