<template>
  <div class="flex w-full bg-img vx-row no-gutter items-center justify-center" style="height: 80vh" id="page-login">
    <div class="vx-col sm:w-1/2 md:w-2/4 lg:w-2/4 xl:w-1/4 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">
          <div class="vx-row no-gutter justify-center items-center">
            <!-- <div class="vx-col hidden lg:block lg:w-1/2">
              <img src="@/assets/images/logo/texty_tales_logo_2.png" alt="login" class="mx-auto" style="max-width: 100%" />
            </div> -->
            <div v-if="!isSuccess">
              <div class="vx-col sm:w-full md:w-full d-theme-dark-bg">
                <div class="p-8 login-tabs-container">
                  <div class="vx-card__title mb-4 text-center">
                    <h4 class="mb-4">Account Reset</h4>
                    <h4 class="px-5 font-" style="background-color: white;">Please enter your new password</h4>
                  </div>
                  <div class="my-5">
                    <vs-input
                      class="w-10/12 m-auto my-2 mt-8"
                      placeholder="Password"
                      v-model="password"
                      hint="At least 8 characters"
                      :type="passwordShow ? 'text' : 'password'"
                      :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                      :danger="checkErrorMessage(resetPasswordErrorMessages, 'password') ? true : false"
                      :danger-text="checkErrorMessage(resetPasswordErrorMessages, 'password')"
                    />
                    <vs-input
                      class="w-10/12 m-auto my-4 mt-4"
                      placeholder="Confirm Password"
                      v-model="confirm_password"
                      :type="confirmPasswordShow ? 'text' : 'password'"
                      :append-icon="confirmPasswordShow ? 'mdi-eye' : 'mdi-eye-off'"
                      :danger="checkErrorMessage(resetPasswordErrorMessages, 'confirm_password') ? true : false"
                      :danger-text="checkErrorMessage(resetPasswordErrorMessages, 'confirm_password')"
                    />
                    <div class="w-10/12 m-auto ">
                      <vs-button v-if="!isLoading" class="w-full" color="primary" @click="onResetAccountClick">CONTINUE</vs-button>
                      <vue-loading v-else type="bars" color="blue" :size="{width: '40px', height: '40px'}"></vue-loading>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-else>
              <div class="vx-col sm:w-full md:w-full d-theme-dark-bg">
                <div class="p-8 login-tabs-container">
                  <div class="vx-card__title mb-4 text-center">
                    <h3>Success</h3>
                    <h4 class="mb-4"> Password has been reset</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import api from "../../axios";
import get from "get-value";
import VFacebookLogin from "vue-facebook-login-component";
import {VueLoading} from "vue-loading-template";

export default {
  data() {
    return {
      otpCode: this.$route.params.otpCode,
      user: this.$route.query.user,
      email: "",
      password: "",
      confirm_password: "",
      username: "",
      resetPasswordErrorMessages: null,
      isSuccess: false,
      isLoading: false,
      confirmPasswordShow: false,
      passwordShow: false
    };
  },
  components: {
    VFacebookLogin,
    VueLoading
  },
  methods: {
    onResetAccountClick() {
      if (this.otpCode && this.user) {
        api
          .post("auth/reset-password", {
            password: this.password,
            confirm_password: this.confirm_password,
            user_id: this.user,
            otp: this.otpCode
          })
          .then(response => {
            if (response.data) {
              this.$store.dispatch("updateUserInfo", {
                id: response.data.data._id,
                token_id: response.data.data.token,
                email: response.data.data.email,
                username: response.data.data.username,
                photo_url: response.data.data.photo_url
              });
            }

            this.$router.replace("/");
          })
          .catch(error => {
            console.log(error);

            this.resetPasswordErrorMessages = this.getValue(error.response, "data.data");
          });
      }
    },
    getValue(resource, key) {
      return get(resource, key);
    },
    validateEmail(email) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },

    onForgetPasswordClick() {
      this.isLoading = true;
      api
        .post("auth/reset-password", {email: this.email})
        .then(response => {
          this.isSuccess = true;
        })
        .catch(error => {})
        .finally(() => {
          this.isLoading = false;
        });
    },
    checkErrorMessage(errorMessages, errorKey) {
      if (errorMessages && errorMessages.length > 0) {
        let error = errorMessages.find(error => {
          console.log(error, errorKey);
          if (error.param == errorKey) {
            return error;
          }
        });

        if (error) {
          return error.msg;
        } else {
          return null;
        }
      } else {
        return null;
      }
    },
    onTOSClick() {
      let routeData = this.$router.resolve({
        name: "routeName"
      });
      window.open(routeData.href, "_blank");
    },
    onSignInClick() {
      this.$router.push("/login");
    }
  },
  beforeMount() {}
};
</script>

<style lang="scss">
#page-login {
  .social-login-buttons {
    .bg-facebook {
      background-color: #1551b1;
    }
    .bg-twitter {
      background-color: #00aaff;
    }
    .bg-google {
      background-color: #4285f4;
    }
    .bg-github {
      background-color: #333;
    }
  }
}
</style>
