<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="<%= BASE_URL %>texty_tales_ico.ico">
  <meta name="application-name" content="Texty Tales">
  <meta name="description" content="Read, share, and recreate chat messages that you can share with the world">
  <!-- <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>loader.css"> -->
  <title>Texty Tales</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but Texty Tales
      JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="loading-bg">
    <!-- <div class="loading-logo">
      <img src="<%= BASE_URL %>logo.png" alt="Logo">
    </div> -->
    <div class="loading">
      <div class="effect-1 effects"></div>
      <div class="effect-2 effects"></div>
      <div class="effect-3 effects"></div>
    </div>
  </div>
  <div id="app">

  </div>
  <!-- built files will be auto injected -->
</body>

</html>
