<template>
  <div>
    <vs-row vs-justify="left">
      <vs-col type="flex" vs-align="center" vs-lg="3" vs-sm="12" vs-xs="12" class="p-2">
        <vs-card class="cardx">
          <div slot="media" class="m-10 mb-5 text-center">
            <img style="width: 100px; height: 100px" class="rounded m-auto" :src="$store.state.AppActiveUser.photo_url" />
          </div>
          <div class="mb-5">
            <div class="p-2">
              <h6 class="text-center">
                {{ $store.state.AppActiveUser.email }}
              </h6>
            </div>
            <div class="text-center">
              <h6>Joined: 2020-06-02</h6>
            </div>
            <div class="text-center my-4">
              <vs-button
                class="text-center"
                v-if="!isResetPasswordLoading"
                size="small"
                @click="onResetPassword"
                icon-pack="feather"
                type="border"
              >
                Reset Password
              </vs-button>
              <vue-loading v-else type="bars" color="blue" :size="{width: '40px', height: '40px'}"></vue-loading>
            </div>
          </div>
        </vs-card>
      </vs-col>
      <vs-col type="flex" vs-lg="9" vs-sm="12" vs-xs="12" class="p-2">
        <vs-row>
          <vs-card>
            <vs-row class="m-5">
              <div style="flex-grow: 1">
                <h3 class="vertical">{{ "Favorite Chats" }}</h3>
              </div>
              <a v-if="favoriteChatItems.length > 0" style="margin-right:4rem">See All</a>
            </vs-row>
            <vs-col
              v-if="favoriteChatItems && favoriteChatItems.length > 0"
              type="flex"
              vs-lg="3"
              vs-sm="6"
              vs-xs="12"
              v-for="(favoriteItem, index) in favoriteChatItems"
              :key="index"
              class="p-2"
            >
              <template>
                <chat-item class="my-5" :item="favoriteItem"></chat-item>
              </template>
            </vs-col>
            <vs-col v-if="myChatItems.length == 0">
              <empty-placeholder emptyText="Sorry you dont have any favorite chats" buttonText="View chats"></empty-placeholder>
            </vs-col>
          </vs-card>
        </vs-row>
        <vs-row>
          <vs-card>
            <vs-row class="m-5">
              <div style="flex-grow: 1">
                <h3 class="vertical">{{ "My Chats" }}</h3>
              </div>
              <a v-if="myChatItems.length > 0" style="margin-right:4rem" @click="onSelectAllMyChatClick">See All</a>
            </vs-row>
            <vs-col
              v-if="myChatItems && myChatItems.length > 0"
              type="flex"
              vs-lg="3"
              vs-sm="6"
              vs-xs="12"
              v-for="(createChatItem, index) in myChatItems"
              :key="index"
              class="p-2"
            >
              <template>
                <chat-item class="mb-5" :item="createChatItem"></chat-item>
              </template>
            </vs-col>
            <vs-col v-if="myChatItems.length == 0">
              <empty-placeholder
                emptyText="Sorry you dont have any created chats"
                buttonText="Create a chat"
                buttonNavigationPath="/chat/create-selection"
                @click="onCreateAChatClick"
              ></empty-placeholder>
            </vs-col>
          </vs-card>
        </vs-row>
      </vs-col>
    </vs-row>
  </div>
</template>

<script>
import ChatItem from "../../../layouts/components/chat/ChatItem";
import EmptyPlaceholder from "../../../layouts/components/other/EmptyPlaceholder";
import api from "../../../axios";
import get from "get-value";
import {VueLoading} from "vue-loading-template";

export default {
  components: {
    ChatItem,
    EmptyPlaceholder,
    VueLoading
  },
  data() {
    return {
      favoriteChatItems: [],
      myChatItems: [],
      myChatsLoading: false,
      favChatsLoading: false,
      isResetPasswordLoading: false
    };
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    onResetPassword() {
      this.isResetPasswordLoading = true;
      api
        .post("auth/reset-password-link", {email: this.$store.state.AppActiveUser.email})
        .then(response => {
          this.isSuccess = true;
        })
        .catch(error => {})
        .finally(() => {
          this.isResetPasswordLoading = false;
        });
    },
    onCreateAChatClick() {
      this.$router.push({name: "chat.create-selection"});
    },
    getMyChats() {
      this.myChatsLoading = true;
      api
        .get("chat", {
          params: {
            max_per_page: 8,
            view_type: "my_chats"
          }
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            this.myChatItems = response.data.data;
          }
        })
        .catch(error => {})
        .then(() => {
          this.myChatsLoading = false;
        });
    },
    getFavoriteChats() {
      this.favChatsLoading = true;
      api
        .get("chat", {
          params: {
            max_per_page: 8,
            view_type: "my_likes"
          }
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            this.favoriteChatItems = response.data.data;
          }
        })
        .catch(error => {})
        .then(() => {
          this.favChatsLoading = false;
        });
    },
    onSelectAllMyChatClick() {
      this.$router.push("/profile/chats");
    }
  },
  created() {
    this.getFavoriteChats();
    this.getMyChats();
  }
};
</script>

<style lang="scss" scoped></style>
