<template>
  <div>
    <div style="margin: 0rem 8rem"> </div>

    <div>
      <div style="margin: 0rem 8rem !important">
        <vs-row class="m-3 mb-2 mt-12">
          <div style="flex-grow: 1">
            <h3 class="vertical">{{ headerText }}</h3>
          </div>
        </vs-row>
        <vs-row class="">
          <vs-col type="flex" vs-lg="3" vs-sm="6" vs-xs="12" v-for="(item, index) in myChatItems" :key="index" class="p-2 px-5">
            <template>
              <div>
                <chat-item :hasLikeButton="false" class="my-10" :item="item"></chat-item>
              </div>
            </template>
          </vs-col>
        </vs-row>
      </div>
    </div>
  </div>
</template>

<script>
import ChatItem from "../../../layouts/components/chat/ChatItem";
import get from "get-value";
import api from "../../../axios";

export default {
  data() {
    return {
      params: this.$route.meta,
      myChatItems: [],
      tagItems: [
        {
          text: "😃 #Happy"
        },
        {
          text: "😃 #Sad"
        },
        {
          text: "😃 #LOL"
        },
        {
          text: "😃 #Breakup"
        }
      ],
      headerText: "My Chats",
      breadcrumbItems: [
        {
          title: "Home",
          url: "/",
          active: false
        }
      ]
    };
  },
  components: {
    ChatItem
  },
  props: {
    emojiIcon: {
      type: String,
      default: ""
    },
    title: {
      type: String,
      default: ""
    }
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    // scrollBottom() {
    //   window.onscroll = () => {
    //     let bottomOfWindow =
    //       document.documentElement.scrollTop + window.innerHeight ===
    //       document.documentElement.offsetHeight;

    //     console.log(
    //       document.documentElement.scrollTop,
    //       " ",
    //       window.innerHeight,
    //       " ",
    //       document.documentElement
    //     );

    //     if (bottomOfWindow) {
    //       // Do something, anything!
    //       console.log("at the bottom");
    //     }
    //   };
    // },
    getMyChats() {
      this.myChatsLoading = true;
      api
        .get("chat/my-chats", {
          params: {
            max_per_page: 8
          }
        })
        .then(response => {
          if (this.getValue(response.data, "data")) {
            this.myChatItems = response.data.data;
          }
        })
        .catch(error => {})
        .then(() => {
          this.myChatsLoading = false;
        });
    },
    onChipClick() {
      console.log("item click");
    },
    loadMore() {
      console.log("load more");
    }

    // fakeItem() {
    //   for (let i = 0; i < 30; i++) {
    //     let item = {
    //       name: faker.company.bsBuzz(),
    //       description: faker.lorem.sentences()
    //     };
    //     this.items.push(item);
    //   }
    // }
  },
  created() {
    this.getMyChats();
    // this.scrollBottom();
  },
  beforeMount() {
    // this.params = this.$route.params;

    this.breadcrumbItems.push({
      title: " " + "My Favorites",
      url: "top",
      active: true
    });
  }
};
</script>

<style lang="scss" scoped></style>
