<template>
  <div id="chat-app" class="border border-solid d-theme-border-grey-light rounded relative overflow-hidden">
    <div>
      <vs-sidebar
        class="items-no-padding"
        parent="#chat-app"
        :click-not-close="false"
        :hidden-background="true"
        v-model="isChatSidebarActive"
        id="chat-list-sidebar"
      >
        <div id="parentx-demo-2">
          <vs-sidebar
            parent="#chat-app"
            :position-right="true"
            :hidden-background="false"
            v-model="isProfileSidebarOpen"
            id="chat-profile-sidebar"
            class="items-no-padding"
          >
            <div class="header-sidebar relative flex flex-col p-0" slot="header">
              <feather-icon
                icon="XIcon"
                svgClasses="m-2 cursor-pointer absolute top-0 right-0"
                @click="isProfileSidebarOpen = false"
              ></feather-icon>

              <div class="relative inline-flex mx-auto mb-5 mt-6">
                <vs-avatar class="m-0 border-white border-2 border-solid shadow-md" :src="getValue(chat.chat_image, 'url')" size="70px" />
              </div>
              <div class="flex mr-2">
                <div v-for="(tag, index) in chat.tags">
                  <vs-chip style="cursor: pointer;" :color="'#2196f3'" class="mx-2 pr-5 pl-1 py-2 text-md select-none">
                    # {{ tag.name }}
                  </vs-chip>
                </div>
              </div>
            </div>

            <component :is="scrollbarTag" class="scroll-area" :settings="settings" :key="$vs.rtl">
              <vs-list>
                <vs-list-header class="mx-4" title="Users"></vs-list-header>
                <div v-for="(fakeUser, index) in chat.fake_users" :key="index">
                  <vs-list-item :title="fakeUser.name" :subtitle="fakeUser.description">
                    <template slot="avatar"> <vs-avatar :src="getValue(fakeUser.image, 'url')" class="mx-3"/></template
                  ></vs-list-item>
                </div>
              </vs-list>
            </component>
          </vs-sidebar>
        </div>

        <div class="chat__profile-search flex p-4">
          <h3 class="text-primary px-4 text-bold">Related Chats</h3>
        </div>

        <vs-divider class="d-theme-border-grey-light m-0" />
        <component :is="scrollbarTag" class="chat-scroll-area pt-4" :settings="settings">
          <div class="chat__chats-list mb-8">
            <ul class="chat__active-chats">
              <li class="cursor-pointer px-5" v-for="(chat, index) in relatedChats" :key="index">
                <ChatItem :item="chat"></ChatItem>
              </li>
            </ul>
          </div>
        </component>
      </vs-sidebar>
      <!-- RIGHT COLUMN -->
      <transition name="slide-fade">
        <div
          class="chat-content-area-custom border border-solid d-theme-border-grey-light border-t-0 border-r-0 border-b-0"
          :class="[
            {
              'sidebar-spacer--wide': clickNotClose,
              'flex items-center justify-center': activeChatUser === null,
              'no-scroll-content-chat': $vssWidth > 1200
            },
            {chat__bg_0: chat.chat_layout_type == 0},
            {chat__bg_1: chat.chat_layout_type == 1},
            {chat__bg_3: chat.chat_layout_type == 2}
          ]"
        >
          <template v-if="activeChatUser">
            <div class="chat__navbar">
              <vs-navbar
                class="p-4 flex navbar-custom"
                :class="[
                  {chat_navbar_0: chat.chat_layout_type == 0},
                  {chat_navbar_1: chat.chat_layout_type == 1},
                  {chat_navbar_3: chat.chat_layout_type == 2}
                ]"
                color="white"
                type="flat"
              >
                <div class="relative flex mr-4">
                  <vs-avatar
                    v-if="chat.chat_type !== 2"
                    class="m-0 border-2 border-solid border-white"
                    size="40px"
                    :src="getValue(chat.chat_image, 'url')"
                    @click="isProfileSidebarOpen = true"
                  />
                </div>
                <h6 v-if="chat.chat_type == 1" :class="[{'text-white': chat.chat_layout_type !== 1}]">{{ chat.title }}</h6>
                <vs-spacer></vs-spacer>
                <feather-icon
                  v-if="chat.user !== $store.state.AppActiveUser.id && $store.state.AppActiveUser.id"
                  icon="StarIcon"
                  class="cursor-pointer mx-2"
                  :class="[{chat_navbar_icon_0: chat.chat_layout_type == 0 || chat.chat_layout_type == 2}]"
                  :svgClasses="[{'text-warning fill-current': isFavoriteChat}, 'w-8', 'h-8']"
                ></feather-icon>
                <feather-icon
                  v-if="chat.user == $store.state.AppActiveUser.id && $vssWidth > 1200"
                  icon="EditIcon"
                  class="cursor-pointer mx-2"
                  :class="[{chat_navbar_icon_0: chat.chat_layout_type == 0 || chat.chat_layout_type == 2}]"
                  :svgClasses="[{'text-warning fill-current': isFavoriteChat}, 'w-8', 'h-8']"
                  @click="onUpdateChatClick"
                ></feather-icon>
              </vs-navbar>
            </div>
            <component
              :is="scrollbarTag"
              id="chat-view"
              class="chat-content-scroll-area-custom-1 border d-theme-border-grey-light"
              :settings="settings"
              ref="chatLogPS"
              @ps-scroll-y="scrollHandle"
            >
              <div class="w-full p-10 bg-white text-center text-2xl " v-if="chat.chat_type !== 1">
                <b>{{ chat.title }}</b>
              </div>
              <div class="chat__log" ref="chatLog">
                <chat-log :chat="chat"></chat-log>
                <div v-if="$vssWidth <= 1200" class="chat__chats-list mb-8 mt-20" style="background-color:white">
                  <div class="m-6 text-center pt-10 font-bold" style="font-size:8vw">Related Chats</div>
                  <ul class="chat__active-chats">
                    <li class="cursor-pointer px-5" v-for="(chat, index) in relatedChats" :key="index">
                      <ChatItem :item="chat"></ChatItem>
                    </li>
                  </ul>
                </div>
              </div>
            </component>
          </template>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import ChatContact from "./ChatContact.vue";
import ChatLog from "./ChatLog.vue";
import ChatNavbar from "./ChatNavbar.vue";
import UserProfile from "./UserProfile.vue";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import ChatItem from "./ChatItem";
// import faker from "faker";
import api from "../../../axios";
import get from "get-value";
import VueScreenSize from "vue-screen-size";

// import moduleChat from "@/store/chat/moduleChat.js";

export default {
  mixins: [VueScreenSize.VueScreenSizeMixin],
  data() {
    return {
      recordId: this.$route.params.chatId,
      hasSound: true,
      chat: {
        messages: [],
        fake_users: []
      },
      chatHeight: 0,
      visibleMessageIndex: 0,
      isProfileSidebarOpen: false,
      messagePlayStart: 0,
      isFavoriteChat: false,
      isPlaying: true,
      isVisible: false,
      active: true,
      isHidden: false,
      searchContact: "",
      activeProfileSidebar: true,
      activeChatUser: {},
      userProfileId: -1,
      typedMessage: "",
      isChatPinned: false,
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.7
      },
      clickNotClose: true,
      isChatSidebarActive: false,
      isLoggedInUserProfileView: false,
      relatedChats: [{}],
      relatedChatOptions: {
        viewType: this.$route.meta.viewType ? this.$route.meta.viewType : "random",
        mainTag: "",
        maxPerPage: 4,
        skipCount: 0
      }
    };
  },
  props: {
    itemSelected: {
      type: Object,
      default: () => {}
    }
  },
  watch: {
    windowWidth() {
      this.setSidebarWidth();
    },
    isPlaying(newValue) {
      if (newValue == false) {
        clearInterval(this.interval);
      } else {
        this.interval = setInterval(() => {
          console.log("visible message " + this.visibleMessageIndex);
          console.log("scroll height" + this.chatHeight);
          if (this.visibleMessageIndex <= this.chatHeight) {
            this.visibleMessageIndex += 10;
            let container = document.querySelector("#chat-view");
            if (container) {
              container.scrollTo({
                top: this.visibleMessageIndex,
                behavior: "smooth"
              });
            }
          }
          // else {
          //   clearInterval(this.interval);
          // }
        }, 100);
      }
    },
    visibleMessageIndex(newValue, oldValue) {
      this.chat.messages.forEach((item, index) => {
        if (index <= newValue) {
          this.chat.messages[index].is_visible = true;
        } else {
          this.chat.messages[index].is_visible = false;
        }
      });
    }
  },
  computed: {
    getStatusColor() {
      return "success";
    },

    scrollbarTag() {
      return this.$store.getters.scrollbarTag;
    },

    windowWidth() {
      return this.$store.state.windowWidth;
    }
  },
  methods: {
    getRelatedChats() {
      this.isLoading = true;
      this.relatedChatOptions.skipCount = 0;
      this.relatedChats = [];
      api
        .get("chat", {
          params: {
            max_per_page: this.relatedChatOptions.maxPerPage,
            view_type: this.relatedChatOptions.viewType,
            skip: this.relatedChatOptions.skipCount
          }
        })
        .then(response => {
          if (this.getValue(response.data, "data") && response.data.data.length > 0) {
            this.relatedChats = response.data.data;
            this.relatedChatOptions.skipCount += this.relatedChatOptions.maxPerPage;
          }
        })
        .catch(error => {})
        .then(() => {
          this.isLoading = false;
        });
    },
    onUpdateChatClick() {
      if (this.chat.chat_type !== null) {
        this.$router.push(`/chat/create/${this.chat.chat_type}/${this.chat._id}`).catch(() => {});
      }
    },
    getValue(resource, key) {
      return get(resource, key);
    },
    toggleVisibilityButton() {
      this.isVisible = !this.isVisible;

      this.chat.messages.forEach(item => {
        item.is_visible = this.isVisible;
      });
      // return this.isVisible ? "EyeOffIcon" : "EyeIcon";
    },
    toggleSoundButton() {
      return this.hasSound ? "Volume2Icon" : "VolumeXIcon";
    },
    getChatRecord() {
      if (this.recordId) {
        api
          .get("chat/" + this.recordId)
          .then(response => {
            if (response.data) {
              this.chat = response.data.data;
              this.chat.messages.map(item => {
                let newItem = item;
                newItem.isVisible = true;
              });
              // this.getChatFullHeight();
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    togglePlayButton() {
      return this.isPlaying ? "PauseIcon" : "PlayIcon";
    },

    closeProfileSidebar() {
      console.log("close profile sidebar");
      this.isProfileSidebarOpen = !this.isProfileSidebarOpen;
    },
    scrollHandle(evt) {
      // console.log(evt);
    },

    showProfileSidebar(openOnLeft = false) {
      this.isLoggedInUserProfileView = openOnLeft;
      this.activeProfileSidebar = !this.activeProfileSidebar;
    },
    sendMsg() {
      if (!this.typedMessage) return;
      const payload = {
        isPinned: this.isChatPinned,
        msg: {
          textContent: this.typedMessage,
          time: String(new Date()),
          is_sent: true,
          isSeen: false
        },
        id: this.activeChatUser
      };
      this.$store.dispatch("chat/sendChatMessage", payload);
      this.typedMessage = "";

      const scroll_el = this.$refs.chatLogPS.$el || this.$refs.chatLogPS;
      scroll_el.scrollTop = this.$refs.chatLog.scrollHeight;
    },
    toggleIsChatPinned(value) {
      this.isChatPinned = value;
    },
    setSidebarWidth() {
      if (this.windowWidth < 1200) {
        this.isChatSidebarActive = this.clickNotClose = false;
      } else {
        this.isChatSidebarActive = this.clickNotClose = true;
      }
    },
    toggleChatSidebar(value = false) {
      if (!value && this.clickNotClose) return;
      this.isChatSidebarActive = value;
    }
  },
  components: {
    VuePerfectScrollbar,
    ChatContact,
    UserProfile,
    ChatNavbar,
    ChatLog,
    ChatItem
  },

  created() {
    this.setSidebarWidth();
    if (this.recordId) {
      this.getChatRecord();
      this.getRelatedChats();
    }
  },
  beforeDestroy() {},
  mounted() {
    document.getElementById("chat-view").scrollTo(0, 0);
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/apps/chat.scss";
</style>
