<template>
  <vs-card actionable class="cardx" v-observe-visibility="{callback: visibilityChanged, throttle: 300}">
    <div style="overflow: hidden;" @click="onChatItemClick(item._id)">
      <img
        style="border-radius: 10px"
        class="w-full"
        :src="image"
        @mouseover="image = getImageUrl(getValue(item, 'main_image.filename'))"
        @mouseleave="image = getPngExtension(getValue(item, 'main_image.filename'))"
      />
    </div>

    <div v-if="hasLikeButton || hasViewsButton" class=""></div>
    <div>
      <vs-row>
        <div class="mt-2" v-if="$store.state.AppActiveUser.token_id && hasLikeButton">
          <div>
            <i @click="onLikeClick" class="material-icons" style="vertical-align:middle; max-width: 20px">{{
              getValue(item, "is_liked") ? "star_filled" : "star_outline"
            }}</i>
            <span class="text-lg ml-2" style="vertical-align:middle">{{
              getValue(item, "total_likes") ? getValue(item, "total_likes") : ""
            }}</span>
          </div>
        </div>
        <div class="mt-2 ml-2" v-if="$store.state.AppActiveUser.token_id && hasLikeButton">
          <div>
            <i class="material-icons" style="vertical-align:middle">visibility</i>
            <span class="text-lg ml-2" style="vertical-align:middle">{{
              getValue(item, "total_views") ? getValue(item, "total_views") : "0"
            }}</span>
          </div>
        </div>
      </vs-row>
    </div>
  </vs-card>
</template>

<script>
import api from "../../../axios";
import get from "get-value";
import VueScreenSize from "vue-screen-size";

export default {
  mixins: [VueScreenSize.VueScreenSizeMixin],
  data() {
    return {
      image: null,
      isVisible: false
    };
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    hasButtons: {
      type: Boolean,
      default: true
    },
    hasLikeButton: {
      type: Boolean,
      default: true
    },
    hasViewsButton: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    visibilityChanged(isVisible, entry) {
      if (this.$vssWidth <= 893) {
        this.isVisible = isVisible;
        if (this.isVisible) {
          this.image = this.getImageUrl(this.getValue(this.item, "main_image.filename"));
        } else {
          this.image = this.getPngExtension(this.getValue(this.item, "main_image.filename"));
        }
      } else {
        this.isVisible = false;
        this.image = this.getPngExtension(this.getValue(this.item, "main_image.filename"));
      }
    },
    onChatItemClick(itemId) {
      if (itemId) {
        this.$router.push({name: "chat.view", params: {chatId: itemId}}).catch(() => {});
      }
    },
    getImageUrl(image) {
      if (image) {
        return process.env.VUE_APP_API_BASE_URL + "/chat-gif/" + image;
      }
    },
    getPngExtension(image) {
      if (image) {
        return process.env.VUE_APP_API_BASE_URL + "/chat-gif/" + image.substr(0, image.lastIndexOf(".")) + ".png";
      }
    },
    onLikeClick() {
      if (this.$store.state.AppActiveUser.token_id) {
        this.item.is_liked = !this.item.is_liked;
        if (this.item.is_liked) {
          this.item.total_likes += 1;
        } else {
          this.item.total_likes -= 1;
        }
        this.updateChatLike(this.item.is_liked);
      }
    },
    updateChatLike(isLiked) {
      api
        .put("chat-like/" + this.item._id, {
          is_liked: isLiked
        })
        .then(response => {})
        .catch(error => {
          this.item.is_liked = !this.item.is_liked;
        })
        .then(() => {});
    }
  },
  created() {
    this.getValue(this.item, "main_image.filename")
      ? (this.image = this.getPngExtension(this.getValue(this.item.main_image, "filename")))
      : (this.image = null);
  }
};
</script>

<style lang="scss" scoped>
.cardx .vs-card--content {
  padding: 0px !important;
}
</style>
