<template>
  <div>
    <home-listing headerText="Top Today"></home-listing>
    <home-listing headerText="My Favorites"></home-listing>
    <home-listing></home-listing>
    <home-listing headerText="Random"></home-listing>
  </div>
</template>

<script>
import HomeListing from "../layouts/components/home/Listing";
export default {
  components: {
    HomeListing
  }
};
</script>

<style lang="scss" scoped></style>
