<template>
  <div class="the-navbar__user-meta flex items-center">
    <!-- <div class="text-right leading-tight hidden sm:block">
      <p class="font-semibold">{{ activeUserInfo.displayName }}</p>
      <small>Available</small>
    </div> -->

    <vs-dropdown vs-custom-content class="cursor-pointer">
      <div class="con-img ml-3">
        <img
          v-if="activeUserInfo.photo_url"
          key="onlineImg"
          :src="activeUserInfo.photo_url"
          alt="user-img"
          width="40"
          height="40"
          class="rounded-full shadow-md cursor-pointer
        block"
        />
      </div>

      <vs-dropdown-menu class="vx-navbar-dropdown">
        <ul style="min-width: 10rem">
          <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" @click="onProfileClick">
            <feather-icon icon="UserIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Profile</span>
          </li>

          <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" @click="onCreateChatClick">
            <feather-icon icon="PlusCircleIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Create chat</span>
          </li>

          <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" @click="onChatsClick">
            <feather-icon icon="MessageSquareIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">My Chats</span>
          </li>

          <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" @click="onFavoritesClick">
            <feather-icon icon="HeartIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Favorites</span>
          </li>

          <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" @click="onLogoutClick">
            <feather-icon icon="DoorIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Logout</span>
          </li>
        </ul>
      </vs-dropdown-menu>
    </vs-dropdown>
  </div>
</template>

<script>
export default {
  computed: {
    activeUserInfo() {
      return this.$store.state.AppActiveUser;
    }
  },
  methods: {
    onCreateChatClick() {
      this.$router.push("/chat/create-selection");
    },
    onProfileClick() {
      this.$router.push("/profile");
    },
    onChatsClick() {
      this.$router.push("/profile/chats");
    },
    onFavoritesClick() {
      this.$router.push("/profile/favorites");
    },
    onLogoutClick() {
      this.$store.dispatch("logout");
      this.$router.push("/").catch(() => {});
    }
  }
};
</script>
