<template>
  <div class="flex">
    <div class="search-full-container w-full h-full absolute left-0 top-0" :class="{flex: showFullSearch}" v-show="showFullSearch">
      <vx-auto-suggest
        ref="navbarSearch"
        :autoFocus="showFullSearch"
        :data="searchChatItems"
        search_key="title"
        background-overlay
        class="w-full"
        inputClassses="w-full vs-input-no-border vs-input-no-shdow-focus"
        icon="SearchIcon"
        placeholder="Search for Chats"
        @input="updateSearchQuery"
        @selected="selected"
        @closeSearchbar="showFullSearch = false"
        style="color: black"
      >
        <template v-slot="{suggestion}">
          <div class="flex items-end leading-none py-1">
            <span class="mt-1">{{ suggestion.title }}</span>
          </div>
          <vs-row>
            <vs-row>
              <div class="mr-4">
                <i class="material-icons" style="vertical-align:middle; max-width: 20px; font-size: 15px">{{ "star_filled" }}</i>
                <span class="text-sm ml-2" style="vertical-align:middle">{{
                  getValue(suggestion, "total_likes") ? getValue(suggestion, "total_likes") : "0"
                }}</span>
              </div>
              <div>
                <i class="material-icons" style="vertical-align:middle; font-size: 15px">visibility</i>
                <span class="text-sm ml-2" style="vertical-align:middle">{{
                  getValue(suggestion, "total_views") ? getValue(suggestion, "total_views") : "0"
                }}</span>
              </div>
            </vs-row>
          </vs-row>
        </template>
        <template v-slot:noResult>
          <div class="flex items-center">
            <feather-icon icon="InfoIcon" svgClasses="h-5 w-5" class="mr-4" />
            <span>No results found.</span>
          </div>
        </template>
      </vx-auto-suggest>

      <div class="absolute right-0 h-full z-50">
        <feather-icon icon="XIcon" class="px-4 cursor-pointer h-full close-search-icon" @click="showFullSearch = false" />
      </div>
    </div>
    <feather-icon icon="SearchIcon" @click="showFullSearch = true" class="cursor-pointer navbar-fuzzy-search ml-4 text-black" />
  </div>
</template>

<script>
import VxAutoSuggest from "@/components/vx-auto-suggest/VxAutoCustomSuggest.vue";
import api from "../../../../axios";
import get from "get-value";

export default {
  components: {
    VxAutoSuggest
  },
  data() {
    return {
      navbarSearchAndPinList: [],
      searchChatItems: [],
      showFullSearch: false,
      chatOptions: {
        maxPerPage: 10
      },
      isLoading: false,
      awaitingSearch: false,
      searchQuery: ""
    };
  },
  methods: {
    getValue(resource, key) {
      return get(resource, key);
    },
    selected(item) {
      if (item._id) {
        this.$router.push({name: "chat.view", params: {chatId: item._id}}).catch(error => {
          console.log(error);
        });
      }
      this.showFullSearch = false;
    },
    getChats(query) {
      if (query) {
        this.isLoading = true;
        // this.chatOptions.skipCount = 0;
        // this.items = [];
        api
          .get("chat", {
            params: {
              max_per_page: this.chatOptions.maxPerPage,
              search: query
              // view_type: this.chatOptions.viewType,
              // skip: this.chatOptions.skipCount
            }
          })
          .then(response => {
            if (this.getValue(response.data, "data")) {
              this.searchChatItems = response.data.data;
            } else {
              // this.hasReachedEnd = true;
            }
          })
          .catch(error => {})
          .then(() => {
            this.isLoading = false;
          });
      }
    },
    updateSearchQuery(query) {
      this.searchQuery = query;
      this.getChats(query);
    },
    hnd_search_query_update(query) {
      console.log(query);
      // Show overlay if any character is entered
      this.$store.commit("TOGGLE_CONTENT_OVERLAY", !!query);
    }
  },
  watch: {
    // searchQuery(newValue, oldValue) {
    // if (!this.awaitingSearch) {
    //   setTimeout(() => {
    // this.getChats(newValue);
    // this.awaitingSearch = false;
    // }, 1000);
    // }
    // this.awaitingSearch = true;
    // }
  }
};
</script>
