<template>
  <div>
    <vs-row class=" my-12 mb-10 px-3">
      <div style="flex-grow: 1">
        <h3 class="vertical text-center lg:text-left">{{ headerText }}</h3>
      </div>
      <!-- <a class="">See All</a> -->
    </vs-row>
    <vs-row class="justify-between">
      <vs-col type="flex" vs-lg="3" vs-sm="6" vs-xs="12" v-for="(item, index) in items" :key="index" class="p-4">
        <template>
          <chat-item :item="item" :hasButtons="false"></chat-item>
        </template>
      </vs-col>
    </vs-row>
  </div>
</template>

<script>
// import faker from "faker";
import {Skeleton} from "vue-loading-skeleton";
import ChatItem from "../../../layouts/components/chat/ChatItem";

export default {
  components: {
    ChatItem
  },
  data() {
    return {};
  },
  computed: {},
  props: {
    items: {
      type: Array,
      default: () => []
    },
    headerText: {
      type: String,
      default: "New Chats"
    },
    route: {
      type: String,
      default: "/"
    }
  }
};
</script>

<style lang="scss" scoped></style>
