<template>
  <div class="">
    <div class="text-center m-12 font-light text-5xl text-gray-100" style="font-family: Helvetica">
      Select to create a chat
    </div>

    <vs-row vs-justify="center">
    
      <vs-col type="flex" vs-justify="center" vs-align="center" vs-lg="3" vs-sm="6" vs-xs="12" class="mx-10">
        <vs-card class="cardx" @click.native="onDragDropChat()">
          <div slot="media" class="card-media">
            <img src="../../../assets/images/misc/chat_1.gif" class="cardx" />
          </div>
          <div class="h-24">
            <span>
              <div class="text-xl m-2 text-center font-bold m-auto">
                Drag and drop screenshots </br> of chats
              </div>
            </span>
          </div>
        </vs-card>
      </vs-col>
      <vs-col type="flex" vs-justify="center" vs-align="center" vs-lg="3" vs-sm="6" vs-xs="12" class="mx-10">
        <vs-card class="cardx" @click.native="onCreateChat()">
          <div slot="media">
            <img src="../../../assets/images/misc/chat_1.gif"  class="cardx"  />
          </div>
          <div class="h-24">
            <span>
              <div class="text-xl m-2 text-center font-bold m-auto">
                Create a </br> chat
              </div>
            </span>
          </div>
        </vs-card>
      </vs-col>
    
    </vs-row>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    onDragDropChat() {
      this.$router.push("/chat/create/2");
    },
    onCreateChat() {
      this.$router.push("/chat/create/1");
    }
  }
};
</script>

<style lang="scss" scoped>
.cardx{
  border-radius: 10px;

}
</style>
